<form id="edit-form" class="form-horizontal" role="form"  method="POST" action="" style="height: 100vh;background-color: #fff;overflow: hidden;">

    <input id="c-id" data-rule="required" class="form-control" name="" type="hidden" value="{$row.id ?? ''}">
    <div class="form-group" style="padding:0 20px;padding-top: 20px; margin-left: 0">
        <label for="status" class="control-label lf" style="width:80px ;display: block;line-height:31px;">营业状态:</label>
        <div style="padding-left: 80px;height: 56px; ">
            <input id="status"  maxlength="100" class="form-control ac-input" type="text" value="{$row ?? ''}" style=" width: 215px; height: 36px; border-radius: 4px; border: solid 1px #dddddd;">
            <p class="error" style="color:red;line-height:20px;margin:5px 0;display: none;">请输入营业状态</p>
        </div>
    </div>
    <div class="form-group" style="text-align: center;" >
            <!-- <button type="button" class="btn btn-success btn-ok btn-embossed mr-15">{:__('OK')}</button> -->
            <button type="button" class="btn btn-success btn-ok btn-embossed mr-15 " style="width: 100px;line-height: 36px; padding: 0; background-color: #34c191" >保存</button>
            <!-- <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button> -->
    </div>
</form>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/error_msg.js?v={$site.version}"></script>
<script>
    $(function(){
    	$('#status').focus(function(){
    		$('.error').hide();
    	})
    	$('#status').blur(function(){
    		var status = $('#status').val();
    		if(status){
    			$('.error').hide();
    		}else{
    			$('.error').show();
    		}
    	})
    })
    $('.btn-ok').click(function () {    	
    	//营业状态
        var status = $('#status').val();
        if(status){
        	var msg = {};
	        msg.name=status;
	        $.post('', msg, function (data) {
	            if (data.code == 1) {
	                layer.msg(data.msg, {
	                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
	                }, function () {
	                    window.parent.location.reload();
	                });
	            } else {
	                layer.msg(data.msg);
	            }
	        })
        }else{
        	$('.error').show();
        }
        
    })
</script>
