<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" style="height: 100vh;background-color: #fff;overflow: hidden;">
    <input type="hidden" value="{$row.id ?? ''}"/>
    <input id="c-id" data-rule="required" class="form-control" name="" type="hidden" value="{$row.id ?? ''}">
    <div class="form-group" style="padding:0 20px;padding-top: 20px; margin-left: 0;margin-bottom: 0;">
        <label for="c-name" class="control-label lf" style="width:80px ;display: block;line-height:31px;text-align: center;">商圈:</label>
        <div style="padding-left: 80px;height: 56px; ">
            <div class="ac-event-box"  data-msg-empty="商圈名称输入有误">
                <input id="c-name"  class="form-control ac-input" type="text" value="{$row.name ?? ''}" style=" width: 240px; height: 36px; border-radius: 4px; border: solid 1px #dddddd;">
            </div>
        </div>
    </div>
    <div class="form-group" style="padding:0 20px; margin-left: 0">
        <p style="padding-left: 80px;margin: 0;color: #999999;font-size: 12px;">例： 116.408437,39.915046</p>
        <label for="c-name" class="control-label lf" style="width:80px ;display: block;line-height:31px;text-align: center;">经纬度:</label>
        <div style="padding-left: 80px;height: 56px; ">
            <div class="ac-event-box clearfix"  data-msg-empty="请去添加地址经纬度"  style="max-width:320px ;width:100%;display: inline-block;vertical-align: top;">
                <input data-rule="required" id='zuobiao' class="form-control op pull-left ac-input" maxlength="80" type="text" value="<?php if(!empty($row['lng']) && !empty($row['lat'])) echo $row['lng'] . ',' . $row['lat'];?>" placeholder='请输入经纬度' style="width:150px;display: block;height: 36px;line-height:36px;">
                <a href="http://api.map.baidu.com/lbsapi/getpoint/index.html" target='_blank' class="btn btn-success btn-ok btn-embossed pull-left" style="margin-left: 10px;padding: 0 15px;line-height: 34px; background-color: #34c191">百度拾取</a>
            </div>
        </div>
    </div>
    <div class="form-group" style="text-align: center;" >
        <!-- <button type="button" class="btn btn-success btn-ok btn-embossed mr-15">{:__('OK')}</button> -->
        <button type="button" class="btn btn-success btn-ok btn-embossed mr-15 " style="width: 100px;line-height: 36px; padding: 0; background-color: #34c191" >保存</button>
        <!-- <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button> -->
    </div>
</form>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/error_msg.js?v={$site.version}"></script>
<script>
    //调用防错处理,start
    //公共的弹出框样式
    var public_style_error = {
        display: 'inline-block',
        "margin-top":"3px",
        overflow: 'inherit'
    };
    // 输入框的必填项调用
    fun.error_msg_clear({element:true}, public_style_error);
    //非必填输入框和div,select的防错处理
    fun.error_clear_box();
    //调用防错处理结束

    // 商圈验证方法
    function validate_name(id,is_focus) {
        var name =id;
        var name_p = name.parents(".ac-event-box");
        var name_obj = {
            element: name,
            element_info: name_p
        };
        if(is_focus) {
            name_obj.msg = name_p.attr("data-msg-empty");
            if(!fun.error_msg_create_input(name_obj,public_style_error)) {
                return;
            }
        }else{
            name_obj.is_focus = false;
        }
        name_obj.msg = "您输入的商圈名称过长";
        name_obj.type = "distance_limit_long";
        name_obj.str_length = 50;
        if (!fun.error_msg_create_input(name_obj, public_style_error)) {
            return;
        }
        name_obj.type = "reg";
        name_obj.is_reg = true;
        name_obj.msg = "您输入的商圈名称中含有非法字符串";
        if(!fun.error_msg_create_input(name_obj,public_style_error)) {
            return;
        }
        return name.val();
    }

    //        百度拾取检验方法
    function validate_zuobiao(id,is_focus) {
        var address = id;
        var address_p = address.parents(".ac-event-box");
        var address_v = address.val();
        var address_obj = {
            element: address,
            element_info:address_p
        };
        if(is_focus) {
            address_obj.msg = address_p.attr("data-msg-empty");
            if(!fun.error_msg_create_input(address_obj,public_style_error)) {
                return;
            }
        }else{
            address_obj.is_focus = false;
        }
        //注销正则验证
//            116.438764,39.943927

        address_obj.reg = /^(\d{1,2}|1[0-7]\d)[\.]\d{3,12}[\,](\d{1,2}|1[0-7]\d)[\.]\d{3,12}$/;
        address_obj.type = "reg";
        address_obj.is_reg = true;
        address_obj.contain = false;
        address_obj.msg = "您输入的经纬度格式错误";
        if(!fun.error_msg_create_input(address_obj,public_style_error)) {
            return;
        }
        return address_v;
    }
    $("#c-name").on("blur", function () {
        validate_name($(this));
    });
    //        百度拾取失去焦点事件
    $("#zuobiao").on("blur", function () {
        validate_zuobiao($(this));
    });

    $('.btn-ok').click(function () {
        var msg = {};
        msg.id = $('#c-id').val();
        var is_add=false;
        if(msg.id=='') {
            is_add = true;
        }


        //商圈
        var name = validate_name($("#c-name"), true);
        if(typeof name=="string"){
            msg.name = name;
        }else{
            return;
        }

        //百度拾取
        var zuobiao = validate_zuobiao($("#zuobiao"), true);
        if(typeof zuobiao=="string"){
            msg.zuobiao = zuobiao;
        }else{
            return;
        }

        $.post('', msg, function (data) {
            if (data.code == 1) {
                var ul = parent.$(".ac-child-page");
                var div = ul.siblings().find(".ac-link-drop");
                var i = div.children("i");
                if(is_add) {
                    if(i.length==0) {
                        div.prepend('<i class="ac-ctr-icon-1 fa fa-angle-right" style="font-size: 16px;margin-right: 5px;color: #999999;width: 15px;"></i>');
                    }
                    ul.append('<li class="ac-tr">' +
                            '<div class="level_4 ac-level_4" style="border-bottom: 1px solid #dddddd">' +
                            '<span style="float: right;display: block;width:150px ;height:37px ;text-align: center;border-right: 1px solid #dddddd;">' +
                            '<a class="editCC ac-edit-area" onclick="layer_open(\'编辑商圈\',\'/region/edit?ids='+data.data.id+'\',{w:\'400px\',h:\'280px\'})" style="color: #9f9f9f; margin-right:5px; display: inline-block" href="javascript:void(0)">' +
                            '<i class="iconfont icon-chakan"></i>' +
                            '</a>' +
                            '<a class="deleteCC ac-area" onclick="del_data({ids:'+data.data.id+',parent_item:$(this).parents(\'.ac-tr\'),is_refresh:false,url:\'/region/delete.html\'});" style="color: #9f9f9f; margin-right:5px; display: inline-block" href="javascript:void(0)" data-id="37">' +
                            '<i class="iconfont icon-shanchu"></i>' +
                            '</a>' +
                            '</span>' +
                            '<div class="ac-level-4-content" style="padding-right:150px;height: 37px;padding-left: 15px;"><div class="" style="display: inline-block;height: 100%;cursor: pointer">' +
                            msg.name+
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</li>');
                }else{
                    parent.$(".ac-child-edit").html(msg.name)
                }
                // parent.layer.closeAll();
                layer.closeAll();
                layer.msg(data.msg, {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function () {
                    parent.layer.closeAll();
                });
            } else {
                layer.msg(data.msg);
            }
        })
    })
</script>
