<link href="__CDN__/assets/css/page.css" rel="stylesheet" type="text/css">
<div class="panel panel-default panel-intro">
    <div class="panel-heading row" style="padding-top:0;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
        <!-- <div class="panel-lead"><em>门店分类管理</em></div> -->
        <div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
            <div class="lf">
                <i class="fa fa-home" style="font-size: 14px;"></i>
            </div>
            <div class="panel-lead lf" style="margin: 0px;">城市管理&nbsp;&nbsp;&nbsp;> </div>
            <div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;城市列表</div>
        </div>
    </div>
    <?php if ($is_super){?>
    <div id="hot_city" class="panel-heading os-row">
        <div class="hot-city-table">
            热门城市
        </div>
        <div class="hot-city-box ac-hot-city-box">
        </div>
    </div>
    <?php }?>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div style="background: #e8f7f2;line-height:37px;font-weight: bold;border-bottom: 1px solid #dddddd;">
                            <span style="float: right;display: block;width:150px ;height:37px ;text-align: center;">操作</span>
                            <div style="padding-right:150px;height: 37px;padding-left: 15px;">城市名称</div>
                        </div>
                        <ul id="city_box" style="border-left: 1px solid #dddddd;line-height:37px;">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var region_json = <?php echo json_encode($list);?>;
        var support_city = ',{$support_city},';
        {if $is_super}
        var hot_city_json = <?php echo json_encode($hot_city);?>;
        function add_hot_city(obj) {
            var city_str= ",";
            var city_html = "";
            $.each(obj, function (index, obj) {
                city_str = city_str + obj.id + ",";
                city_html +='<div class="hot-item ac-item-city" data-index="'+index+'" data-id="'+obj.id+'">' +
                        '<img class="drag-over" src="__CDN__/assets/img/tran_pointer.png"/>'+
                        '<span>'+obj.name+'</span>' +
                        '<i class="iconfont icon-cha1 ac-delete" data-id="'+obj.id+'"></i>' +
                        '</div>'
            });
            $("#hot_city .hot-city-box").empty().append(city_html);
            return city_str;
        }
        var hot_city_str=add_hot_city(hot_city_json);
        {else}
            var hot_city_str='';
        {/if}
        function city_linkage(json_obj,obj) {
            var def_obj = {
                ele_box:"",
                is_ctr_color:false,
                open_str:'',
                hot_city_str:''
            };
            if(typeof obj=="object") {
                $.extend(def_obj, obj);
            }
            if(typeof json_obj=="object") {
                if(def_obj.ele_box=="") {
                    console.error("请传入dom")
                }
                var ele_li,ele_div,ele_ul,color='',val,i= 0;
                for(var index in json_obj) {
                    var content='',content_city='',add_content='',class_level='',is_click='ac-link-drop',is_hidden='hidden',del_class='',level_4_child='',is_open_city='';
                    var drop_down = '<i class="ac-ctr-icon-1 fa fa-angle-right" style="font-size: 16px;margin-right: 5px;color: #999999;width: 15px;"></i>';
                    val = json_obj[index];
                    if(def_obj.is_ctr_color) {
                        if(i%2==0) {
                            color="bg-white"
                        }else{
                            color="bg-grey"
                        }
                    }
                    if(val.level_type==2) {
                        class_level = 'level_2';
                        if(def_obj.open_str.indexOf(","+val.id+",")!=-1) {
                            content = '<div style="display: inline-block;height: 100%;vertical-align: top">' +
                                    '<a class="statusCC btn-change text-success ac-is-stop os-row" href="javascript:;" data-id="'+index+'" data-isStop="0" title="禁用">' +
                                    '<i class="fa fa-toggle-on fa-2x" style="color: #18bc9c;margin-top: 6px;"></i>' +
                                    '</a>' +
                                    '</div>';
                        }else{
                            content = '<div style="display: inline-block;height: 100%;vertical-align: top">' +
                                    '<a class="statusCC btn-change text-success ac-is-stop os-row" href="javascript:;" data-id="'+index+'" data-isStop="1" title="启用">' +
                                    '<i class="fa fa-toggle-off fa-2x" style="color: #18bc9c;margin-top: 6px;"></i>' +
                                    '</a>' +
                                    '</div>';
                        }
                        if(def_obj.hot_city_str.indexOf(","+val.id+",")!=-1) {
                            content_city = '<a class="rectAdd os-cancel-downLine ac-set-hot ac-set-hot-'+val.id+'" data-id="'+val.id+'" data-boolean="true" style="line-height:1.4em;margin-left: 15px;cursor: pointer;color: #ffffff;display: inline-block;padding: 5px 12px;background: #34c191;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;">' +
                                    '取消热门城市</a>';
                        }else{
                            content_city = '<a class="rectAdd os-cancel-downLine ac-set-hot ac-set-hot-'+val.id+'" data-id="'+val.id+'" data-boolean="false" style="line-height:1.4em;margin-left: 15px;cursor: pointer;color: #ffffff;display: inline-block;padding: 5px 12px;background: #34c191;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;">' +
                                    '设置热门城市</a>';
                        }
                    }else if(val.level_type==3) {
                        class_level = 'level_3 ac-level_3';
                        add_content='<a class="rectAdd os-cancel-downLine ac-area" onclick="layer_open(\'添加商圈\', \'/region/add?region_id_3='+index+'\',{w:\'400px\',h:\'280px\'})" style="line-height:1.4em;margin-left: 15px;cursor: pointer;color: #ffffff;display: inline-block;padding: 5px 12px;background: #34c191;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;">' +
                                '<i class="fa fa-plus"></i> ' +
                                '添加商圈</a>'
                    }else if(val.level_type==4) {
                        del_class = "ac-tr";
                        class_level = 'level_4 ac-level_4';
                        level_4_child = "ac-level-4-content";
                        content = '<a class="editCC ac-edit-area" title="编辑商圈" onclick="layer_open(\'编辑商圈\', \'/region/edit?ids='+index+'\',{w:\'400px\',h:\'280px\'})" style="color: #9f9f9f; margin-right:5px; display: inline-block" href="javascript:void(0)">' +
                                '<i class="iconfont icon-chakan"></i>' +
                                '</a>' +
                                '<a class="deleteCC" title="删除" onclick="del_data({ids:'+index+',parent_item:$(this).parents(\'.ac-tr\'),is_refresh:false,url:\'/region/delete.html\',info:\'确认删除商圈吗？\'});" style="color: #9f9f9f; margin-right:5px; display: inline-block" href="javascript:void(0)" data-id="37">' +
                                '<i class="iconfont icon-shanchu"></i>' +
                                '</a>';
                    }
                    if(!val.child) {
                        drop_down = '';
                    }
                    var link = 'ac-dropdown' + index;
                    var link_parent = 'ac-parent' + index;
                    ele_li = $('<li class="'+color+' '+link_parent+' '+del_class+'"></li>');
                    ele_div = $(' <div class="'+class_level+'" style="border-bottom: 1px solid #dddddd">' +
                            '<span style="float: right;display: block;width:150px ;height:37px ;text-align: center;border-right: 1px solid #dddddd;">'+content+content_city+'</span>' +
                            '<div style="padding-right:150px;height: 37px;padding-left: 15px;">' +
                            '<div class="'+is_click+' '+level_4_child+'" style="display: inline-block;height: 100%;cursor: pointer" data-link-class="'+link+'" data-link-parent="'+link_parent+'">' +
                            drop_down+
                            val.name+
                            '</div>' +
                            add_content+
                            '</div>' +
                            '</div>');
                    ele_ul = $('<ul class="'+link+' '+is_hidden+'"></ul>');
                    ele_li.append(ele_div);
                    ele_li.append(ele_ul);
                    def_obj.ele_box.append(ele_li);
                    i++;
                    if(val.child) {
                        city_linkage(val.child, {ele_box:ele_ul,open_str:def_obj.open_str,hot_city_str:def_obj.hot_city_str});
                    }
                }
            }
        }

        var city_box = $("#city_box");
        city_linkage(region_json,{ele_box:city_box,is_ctr_color:true,open_str:support_city,hot_city_str:hot_city_str});
        function get_hot_city(url,msg,id) {
            $.ajax({
                url: url,
                type: 'POST',
                data:msg,
                success: function (data) {
                    if(data.code==1) {
                        if(url.indexOf("hot_delete")!=-1) {
                            hot_city_json = data.data;
                            $(".ac-set-hot-"+id).attr("data-boolean", "false").html("设置热门城市");
                        }else if(url.indexOf("hot_add")!=-1) {
                            hot_city_json = data.data;
                            $(".ac-set-hot-"+id).attr("data-boolean", "true").html("取消热门城市");
                        }else if(url.indexOf("hot_sort")!=-1) {
//                            排序ok后不替换data值
                        }
                        add_hot_city(hot_city_json);
                    }else{
                        layer.alert(data.msg, {icon: 5});
                    }
                }
            });
        }
        var prevent_more_click = true;
        city_box.on("click",".ac-link-drop",function() {
            var attr_parent = $(this).attr("data-link-parent");
            var attr_link = $(this).attr("data-link-class");
            var ul = $(this).parents("." + attr_parent).find("." + attr_link);
            var icon = $(this).find(".ac-ctr-icon-1");
            if(icon.hasClass("fa-angle-right")) {
                icon.removeClass("fa-angle-right").addClass("fa-angle-down");
                ul.removeClass("hidden");
            }else{
                icon.removeClass("fa-angle-down").addClass("fa-angle-right");
                ul.addClass("hidden");
            }

        }).on("click",".ac-is-stop",function() {
            if(prevent_more_click) {
                var obj = {
                    url: '/region/edit_status',
                    info_msg: '请选择要操作的城市'
                };
                obj.os_this = $(this);
                obj.is_stop = $(this).attr("data-isStop");
                obj.id = $(this).attr("data-id");
                obj.prompt = "close";
                is_stop(obj);
                prevent_more_click = false;
                setTimeout(function () {
                    prevent_more_click = true;
                }, 600);
            }
        }).on("click",".ac-area",function() {
            var child_page = $(".ac-child-page");
            if(child_page.length>0) {
                child_page.removeClass("ac-child-page");
            }
            $(this).parents(".ac-level_3").siblings().addClass("ac-child-page");
        }).on("click",".ac-edit-area",function() {
            var child_page = $(".ac-child-edit");
            if(child_page.length>0) {
                child_page.removeClass("ac-child-edit");
            }
            $(this).parents(".ac-level_4").find(".ac-level-4-content").addClass("ac-child-edit");
        }).on("click",".ac-set-hot",function() {
            var data_bool= $(this).attr("data-boolean");
            var url = '';
            if(data_bool=="true") {
                url = "/region/hot_delete";
            }else if(data_bool=="false") {
                url = "/region/hot_add";
            }
            var id = $(this).attr("data-id");
            get_hot_city(url,{ids:id},id)
        })
        var store_top = '', store_left = '',client_x_new= 0,client_y_new=0;
        var is_over=false;
        var old_data_index;
        $("#hot_city").on("click", ".ac-delete", function (e) {
            e.stopPropagation();
            var url = "/region/hot_delete";
            var id = $(this).attr("data-id");
            get_hot_city(url,{ids:id},id)
        }).on("dragstart",".ac-item-city img",function(e) {
            var item = $(this).parents(".ac-item-city");
            var item_off = item.offset();
            store_top = item_off.top;
            store_left = item_off.left;
            client_y_new = e.clientY;
            client_x_new = e.clientX;
            is_over = true;
            old_data_index = item.attr("data-index");
            item.css({position: "fixed", top: store_top, left: store_left,zIndex:20000});
        }).on("drag",".ac-item-city img",function(e) {
            var item = $(this).parents(".ac-item-city");
            var top = store_top+ (e.clientY-client_y_new);
            var left = store_left + (e.clientX - client_x_new);
            item.css({top:top,left:left});
        }).on("dragend",".ac-item-city img",function(e) {
            var item = $(this).parents(".ac-item-city");
            var hot_city = $("#hot_city");
            var hot_box = hot_city.find(".ac-hot-city-box");
            var city_item = hot_city.find(".ac-item-city");
            var one_elem = city_item[0];
            var last_ele= city_item[city_item.length-1];
            var city_top = hot_box.offset().top + parseInt(hot_box.css("padding-top"));
            var city_left = hot_box.offset().left + parseInt(hot_box.css("padding-left"));
            var val ='';
            console.log(city_top)
            for(var i=0;i<city_item.length;i++) {
                val = $(city_item[i]);
                var height_top = val.offset().top + val.height();
                var height_left = city_left + val.offset().left + val.width();
                if(e.clientY<height_top&&e.clientX<height_left) {
//                    console.log(city_top);
//                    console.log(val.offset().top);
//                    console.log(val.height());
//                    console.log(height_top);
//                    console.log(e.clientY);
//                    console.log(val);
                    var index = val.attr("data-index");
                    var remote_data = hot_city_json.splice(old_data_index,1);
                    hot_city_json.splice(index, 0, remote_data[0]);
                    get_hot_city('/region/hot_sort', {data: JSON.stringify(hot_city_json)});
                    break;
                }
            }
            item.css({position: "relative",zIndex:1,top:0,left:0});
        })
    })();
    // function del_data(obj) {
    //         var def_obj = {
    //             ids: '',
    //             url: '',
    //             is_refresh: true,
    //             parent_item: '',
    //             info: ""
    //         };
    //         if (typeof obj == "object") {
    //             $.extend(def_obj, obj);
    //         }
    //         var ids = def_obj.ids;
    //         if (ids == "") {
    //             console.error("您未传入ids值,请传入ids值");
    //         }
    //         if (ids == 0) {
    //             ids = get_select_all();
    //         }
    //         layer.confirm(def_obj.info, { icon: 3, title: '提示' }, function () {
    //             $.post(def_obj.url, { ids: ids }, function (data) {
    //                 if (data.code == 1) {
    //                     layer.msg(data.msg, {
    //                         time: 2000 //2秒关闭（如果不配置，默认是3秒）
    //                     }, function () {
    //                         if (def_obj.is_refresh) {
    //                             window.parent.location.reload();
    //                         } else {
    //                             if (def_obj.parent_item == '') {
    //                                 console.error("请传入您的dom");
    //                             } else {
    //                                 def_obj.parent_item.remove();
    //                             }
    //                         }
    //                     });
    //                 } else {
    //                     layer.alert(data.msg, { icon: 5 });
    //                 }
    //             }, 'json')
    //         });
    //     }
</script>