<style>
    .btn-add {
        background-color: #34c191;
        border-radius: 4px;
    }
    .ac-img-url-box {
        margin-left: 15px;
    }
    .form-control {
        width: 310px;
        height: 90px;
        border-radius: 4px;
        border: solid 1px #dddddd;
        resize: none;
    }
    .btn-embossed {
        width: 100px;
        height: 36px;
        background-color: #34c191;
        border-radius: 4px;
        color: #fefefe;
    }
    .op {
        width: 150px;
        height: 36px;
        border-radius: 4px;
        border: solid 1px #dddddd;
    }
    #panel-body label {
     width: 108px !important;
    }
    .form-group span{
        color: #ff777c;
    }
    .submit{
        width: 100px;
        height: 36px;
        background-color: #34c191;
        border-radius: 4px;
        color: #fefefe;
        box-shadow: none;
        border: none;
        outline: none;
    }
    /*校验字体样式*/
    span.error{
        /*border: 1px solid red;*/
        color: red;
        margin-top: 1.5px;
        height: 28px;
        font-size: 12px;
    }
    
    .bg_box{
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        background:rgba(0,0,0,0.5);
        display: none;
        z-index:999999;
    }
    .bg_box .big_img img{
        width:80vw;
        max-height:95vh;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
    }
</style>
<div class="panel-heading row" style="padding:0 15px;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
    <div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
        <div class="lf">
            <i class="fa fa-home" style="font-size: 14px;"></i>
        </div>
        <div class="panel-lead lf" style="margin: 0px;">商户管理&nbsp;&nbsp;&nbsp;> </div>
        <a href="<?php echo url('merchant/index');?>" class="panel-lead lf pl" style="margin: 0px; color: #999 !important;">&nbsp;&nbsp;商户列表&nbsp;&nbsp;&nbsp;> </a>
        <div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;
            <?php echo empty($row) ? '添加商户': '编辑商户';?>
        </div>
    </div>
</div>
<div class="panel-body" id='panel-body' style="padding-left: 40px;">
    <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

        <input id="c-id" class="form-control" name="" type="hidden" value="{$row.id ?? ''}">
        <div class="form-group">
            <label for="c-company_name" class="control-label col-xs-12 col-sm-2"><span>*</span> 公司名称:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-company_name" name="c-company_name" class="form-control op" maxlength="80" type="text" value="{$row.company_name ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px;">
            </div>
        </div>
        <div class="form-group form_group_box">
            <label for="c-region_id" class="control-label col-xs-12 col-sm-2"><span>*</span> 选择城市:</label>
            <div class="col-xs-12 col-sm-8">
                <div>
                    <div id="add_city_show" style="display: inline-block;" >
                        <?php if(!empty($regions_data)) foreach($regions_data as $value){?>
                        <?php }?>
                    </div>
                    <a id="add_city" class="btn btn-success btn-add"  style="padding: 8px 15px; margin-right: 10px;" data-database='<?php $regionsJson = empty($regions_data) ? "[]": json_encode($regions_data, JSON_UNESCAPED_UNICODE); echo $regionsJson?>' href="javascript:;" onclick="layer_open('添加城市', '/merchant/region_list?admin_id={$row.id ?? ''}', {w:'750px',h:'820px'})" title="选择城市"><i class="fa fa-plus"></i> 选择城市</a>
                    <!-- 选择城市显示提示信息位置 -->
                    <input id="c-region_id" name="c-region_id" type="hidden" value="<?php echo empty($regions_data) ? '': (',' . implode(',', array_column($regions_data, 'id')) . ',');?>" style="display: inline-block;">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="c-license_img" class="control-label col-xs-12 col-sm-2" style="line-height: 100px;"><span>*</span> 营业执照图片:</label>
            <div class="l ac-img-container ac-img-url-box license_img_adress" data-name="image">
                {if isset($row.license_img) && $row.license_img != ''}
                <div class="formControls l mr-15 ta-imgItem ac-item-box">
                    <i class="os-radius"></i>
                    <img class="os-img" src="{$Think.config.qiniu.domain}{$row.license_img}" data-log="{$row.license_img}">
                </div>
                <div class="formControls l ta-imgItem ac-add hidden" style="width: 100px;height: 100px;">
                    <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="img" data-picture="0">
                </div>
                {else}
                <div class="os-row">
                    <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px;">
                        <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="img" data-picture="0">
                    </div>
                </div>
                {/if}
            </div>
        </div>
        <div class="form-group license_number_box">
            <label for="c-license_number" class="control-label col-xs-12 col-sm-2">营业执照号:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-license_number" name="c-license_number" class="form-control op" type="text" value="{$row.license_number ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        <div class="form-group f_name_box">
            <label for="c-f_name" class="control-label col-xs-12 col-sm-2">法人:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-f_name" name="c-f_name" class="form-control op" type="text" value="{$row.name ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        <div class="form-group banksite_box">
            <label for="c-banksite" class="control-label col-xs-12 col-sm-2">开户行:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-banksite" name="c-banksite" class="form-control op" type="text" value="{$row.banksite ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        <div class="form-group bankcard_box">
            <label for="c-bankcard" class="control-label col-xs-12 col-sm-2">银行账户:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-bankcard" name="c-bankcard" class="form-control op" type="text" value="{$row.bankcard ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        <div class="form-group">
            <label for="c-image" class="control-label col-xs-12 col-sm-2" style='line-height: 100px;'><span>*</span> 法人身份证正面照:</label>
            <div class="l ac-img-container ac-img-url-box img_box_person_img_p" data-name="image">
                {if isset($row.person_img_p) && $row.person_img_p != ''}
                <div class="formControls l mr-15 ta-imgItem ac-item-box">
                    <i class="os-radius"></i>
                    <img class="os-img" src="{$Think.config.qiniu.domain}{$row.person_img_p}" data-log="{$row.person_img_p}">
                </div>
                <div class="formControls l ta-imgItem ac-add hidden" style="width: 100px;height: 100px;">
                    <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="ID_card_front_img" data-picture="0">
                </div>
                {else}
                <div class="os-row">
                    <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px;">
                        <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="ID_card_front_img" data-picture="0">
                    </div>
                </div>
                {/if}
            </div>
        </div>
        <div class="form-group">
            <label for="c-image" class="control-label col-xs-12 col-sm-2" style='line-height: 100px;'><span>*</span> 法人身份证反面照:</label>
            <div class="l ac-img-container ac-img-url-box img_box_person_img_n" data-name="image">
                {if isset($row.person_img_n) && $row.person_img_n != ''}
                <div class="formControls l mr-15 ta-imgItem ac-item-box">
                    <i class="os-radius"></i>
                    <img class="os-img" src="{$Think.config.qiniu.domain}{$row.person_img_n}" data-log="{$row.person_img_n}">
                </div>
                <div class="formControls l ta-imgItem ac-add hidden" style="width: 100px;height: 100px;">
                    <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="ID_card_reverse_img" data-picture="0">
                </div>
                {else}
                <div class="os-row">
                    <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px;">
                        <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="ID_card_reverse_img" data-picture="0">
                    </div>
                </div>
                {/if}
            </div>
        </div>
        <div class="form-group ID_card_box">
            <label for="c-person_id_number" class="control-label col-xs-12 col-sm-2"><span>*</span> 法人身份证:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-person_id_number" name="c-person_id_number" class="form-control op" type="text" value="{$row.person_id_number ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>

        </div>
        <div class="form-group">
            <label for="c-contacts" class="control-label col-xs-12 col-sm-2"><span>*</span> 联系人:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-contacts" name="c-contacts" class="form-control op" type="text" value="{$row.contacts ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        <div class="form-group mobile_box">
            <label for="c-mobile" class="control-label col-xs-12 col-sm-2"><span>*</span> 联系手机:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-mobile" name="c-mobile" class="form-control op" type="text" value="{$row.mobile ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        <div class="form-group email_box">
            <label for="c-email" class="control-label col-xs-12 col-sm-2"><span>*</span> 邮箱:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-email" name="c-email" class="form-control op" type="text" value="{$row.email ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        <div class="form-group">
            <label for="c-company_address" class="control-label col-xs-12 col-sm-2"><span>*</span> 公司地址:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-company_address" name="c-company_address" class="form-control op" type="text" value="{$row.company_address ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        {if !isset($row.id)}
        <div class="form-group">
            <label for="c-username" class="control-label col-xs-12 col-sm-2"><span>*</span> 管理员账号:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-username" name="c-username" class="form-control op" type="text" value="{$row.username ?? ''}" style="display: inline-block;width: 300px;margin-right: 10px; width: 150px;" >
            </div>
        </div>
        {/if}
        <div class="form-group">
            <label for="submit" class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <input id="submit" name="submit" type="submit" class="btn btn-success btn-embossed" ondblclick="return false;" value="保存">
            </div>
        </div>
        <input type="hidden" id="isSet_username" value="{if !isset($row.id)}1{else}0{/if}">
    </form>
</div>

<div class="bg_box">
    <div class="big_img">
        <img src=""/>
    </div>
</div>

<script>window.UEDITOR_HOME_URL = '__CDN__/assets/libs/ueditor/1.4.3/'</script>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/libs/ueditor/1.4.3/ueditor.config.js?v={$site.version}"></script>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/libs/ueditor/1.4.3/ueditor.all.js?v={$site.version}"> </script>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/libs/ueditor/1.4.3/lang/zh-cn/zh-cn.js?v={$site.version}"></script>
<!-- 表单校验插件 -->
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/jquery-validation-1.14.0/jquery.validate.js?v={$site.version}"></script>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/jquery-validation-1.14.0/additional-methods.js"></script>
<script type="text/javascript" src="__CDN__/assets/js/backend/validate/merchant/edit.js"></script>

<script>
//	图片放大预览
	$(document).on('click','.os-img',function(){
        var img_url=$(this).attr('src');
        $('.bg_box img').attr('src',img_url);
        $('.bg_box').show();
        $('.bg_box').click(function(){
            $('.bg_box').hide();
        })
    })
	
    function del_store_val(os_this) {
        var this_parent = $(os_this).parent();
        this_parent.prev().removeClass("hidden");
        this_parent.next().val("");
        this_parent.remove();
        var brand_item = $("#c-brand_id");
        brand_item.html('<option value="0">请先选择门店</option>');
    }
    // add_city 编辑城市的时候，如果是激活的城市就会显示已经选择激活的城市
    var city_selected = $("#add_city").data("database");
    var add_city_show = $("#add_city_show");
    var input_hidden = $("#c-region_id");
    add_city_show.empty();
    var html = '',up_data_val="";
    $.each(city_selected, function (index, val) {
        if(val.id!=100000) {
            html += '<span style="display: inline-block;margin-right: 5px;padding: 6px 15px;border-radius: 4px;border: 1px solid #34c191;color: #34c191;vertical-align: middle;">' +
            val.name +
            '<i class="iconfont icon-cha1 ac-delete" name="'+ val.name +'" data-id="' + val.id + '" data-index="' + index + '" data-parent_id= "' + val.parent_id + '" style="color: #dddddd;margin-left: 10px;cursor: pointer;display: none;"></i>' +
            '</span>';
            up_data_val += val.id+",";
        }
    });
    add_city_show.append(html);
    up_data_val = up_data_val.substr(0,up_data_val.length - 1);
    input_hidden.val(up_data_val);

    // 营业执照图片上传
    up_img_System("img");
    $("#edit-form").on("click", ".ac-item-box i", function () {
        var os = $(this).parent();
        var add = os.nextAll(".ac-add");
        os.remove();
        var isMain = $("#edit-form .ac-item-box");
        if (os.children("sup").length != 0 && isMain.length > 0) {
            $(isMain[0]).prepend("<sup></sup>");
        }
        if (add.hasClass("hidden")) {
            add.removeClass("hidden");
        }
    });

    // 身份证正面照片上传 ID_card_front_img
    up_img_System("ID_card_front_img");

    // 身份证反面照片上传 ID_card_reverse_img
    up_img_System("ID_card_reverse_img");
</script>
