<link rel="stylesheet" type="text/css" href="__CDN__/assets/libs/laydate/need/laydate.css?v={$site.version}"/>
<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/common.css" />
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<style>
    body{
        background-color: #fff;
    }
    .add {
        margin: 20px 0 10px 0;
        position: relative;
    }
    .add p {
        position: absolute;
        left: 0;
        top: 10px;
        font-size: 14px;
        color: #656565;
    }
    .add-city {
        float: left;
        padding-left:82px;
    }
     #layui-layer33 {
        height: 856px;
        width: 746px;
        background-color: #ffffff;
        border-radius: 0px 0px 6px 6px;
        border: solid 1px #dddddd;
    }
    .fixed-table-pagination .active span{
        background-color: #34c191;
        border-color:#34c191;
        color: #fff;
    }
    .fixed-table-pagination a{
        color: #34c191 !important;
    }
    .fixed-table-pagination li {
        width: 36px;
        height: 36px;
        background-color: #ffffff;
        /* border: solid 1px #dddddd; */
    }
    .btn-b {
        display: inline-block;
        width: 100px;
        height: 36px;
        background-color: #34c191;
        border-radius: 4px;
        color: #fefefe;
        font-size: 14px;
    }
    .tab-content {
        text-align: center;
    }
/*    .label-green{
        background: #34c191;
        color: #ffffff;
        cursor: pointer;
    }*/
    .label-grey-im{
        background: #dddddd !important;
    }
    .submit_btn p{
        color: red;
        margin-top: 10px;
        display: none;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar">
                            <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="get" action="">
                                <div class="row"  style="margin:0;">
                                    <div style="float: left;width: 180px;margin-right: 5px;">
                                        <select class="form-control" name="region_id_1">
                                            <option value="">--省--</option>
                                            {volist name='region_list_1' id='vo'}
                                            <option value="{$key}" {if $Request.get.region_id_1 eq $key}selected{/if}>{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div style="float: left;width: 180px;margin-right: 5px;">
                                        <input class="form-control" name="name" type="text" value="{$Request.get.name ?? ''}" placeholder="城市名称">
                                    </div>
                                    <div style="float: left;width: 100px;">
                                        <button type="submit" class="btn btn-success btn-ok btn-embossed" style="width: 100%; background-color: #34c191">搜 索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="add clearfix" >
                            <p>已选城市：</p>
                            <div id="ac_dataList" class="add-city" style="width: 100%;">
<!--                                 <div class="label-green c lf ac-all-city" data-id="100000" style="line-height:35px;margin-bottom: 10px;margin-right:5px;">全国</div> -->
                                <div class="ac-box lf" style="display: block;text-align: left;">
                                </div>
                            </div>
                           
                            <!-- <div style="position: relative;padding: 7px 15px;display: inline-block;background: #fff;border: 1px solid #dddddd;">
                                <img onclick="del_store_val(this)" src="/assets/img/close_red.png" style="width: 13px;height: 13px;position: absolute;top: -5px;right: -5px;cursor:pointer">
                            </div> -->
                        </div>

                        <!-- <div style="text-align: left;margin-bottom:10px;">
                            <span class="btn btn-success btn-b ac-ok">保存</span>
                        </div> -->
                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                            <div class="fixed-table-header" style="display: none;">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">

                                <table id="table" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                                    <thead>
                                    <tr style='background: #e7f7f2'>
                                        <th style="text-align: center; vertical-align: middle; " data-field="id">
                                            <div class="th-inner ">序号</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="name">
                                            <div class="th-inner ">省</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="nickname">
                                            <div class="th-inner ">市</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="operate">
                                            <div class="th-inner ">操作</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody data-listidx="0">
                                    {volist name='city_list' id='vo'}
                                    <tr data-id="{$vo.id}" style="height: 46px;">
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.id}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.region_name ?? ''}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.name ?? ''}</td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            <a href="javascript:;" class="ac-add os-checkbox" title="选择" data-name="{$vo.name}" data-id="{$vo.id}" data-parent_id="{$vo.parent_id}"></a>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-footer" style="display: none;">
                                <table>
                                    <tbody>
                                    <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-pagination" style='text-align: center;'>
                                {$city_list->render()|raw}
                            </div>
                            <div class="submit_btn lf" style="width: 100%;text-align: center;margin-top: 17px">
                                <button type="button" class="ac-ok btn btn-success btn-ok btn-embossed" style="padding: 8px 20px; background-color: #34c191">
                                保 存 </button>
                                <p>所选城市只能在同一省内选择</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/error_msg.js?v={$site.version}"></script> -->
<script>
    (function () {
        // //调用防错处理,start
        // //公共的弹出框样式
        // var public_style_error = {
        //     display: 'inline-block',
        //     'line-height': '34px',
        //     height: '34px',
        //     overflow: 'inherit'
        // };
        // // 输入框的必填项调用
        // fun.error_msg_clear({}, public_style_error);
        // //非必填输入框和div,select的防错处理
        // fun.error_clear_box();
        // //调用防错处理结束

        function remove_check_name(element_del,elements,array) {
            element_del.on("click",".ac-delete",function() {
                var attr_index = $(this).attr("data-index");
                array.splice(attr_index, 1);
                var attr_id=$(this).attr("data-id");
                $.each(elements, function (index, val) {
                    if ($(val).attr("data-id") == attr_id) {
                        $(val).removeClass("os-checkbox-focus")
                    }
                });
                store_val(default_data);
                // if($(this).parent().siblings().length<1) {
                //     all_city.removeClass("label-grey-im");
                // }
                $(this).parent().remove();
            });
        }
        //父元素页面中的选中城市信息
        function store_val(default_data) {
            var parent_add_branch= parent.$("#add_city");
            var default_data_json = JSON.stringify(default_data);
            parent_add_branch.attr("data-database", default_data_json);
        }

        var content = $("#myTabContent");
        var ac_add = content.find(".ac-add");
        var ac_del_box= content.find(".ac-box");
        // var all_city = content.find(".ac-all-city");
        // all_city.on("click",function() {
        //     ac_add.removeClass("os-checkbox-focus");
        //     ac_del_box.empty();
        //     default_data = [];
        //     store_val(default_data);
        //     $(this).removeClass("label-grey-im");
        // })
        // ac_add.on("click", function () {
        //     if(!all_city.hasClass("label-grey-im")) {
        //         all_city.addClass("label-grey-im");
        //     }
        // });
        var parent_add_branch= parent.$("#add_city");
        // default_data 在这里
        var default_data = parent_add_branch.attr("data-database");
        // console.log(888, default_data);



        if(!default_data) {
            // console.log(777, default_data);
            default_data = [];
        }else{
            // console.log(666, default_data);
            default_data = JSON.parse(default_data);
            if(default_data.join("")!="") {
                // all_city.addClass("label-grey-im");
                add_check_name(default_data,content,ac_add);
            }
            remove_check_name(ac_del_box, ac_add, default_data);
        }
        ac_add.on("click",function () {
            $(this).addClass("os-checkbox-focus");
            var brand_id = Number($(this).attr('data-id'));
            var brand_name = $(this).attr('data-name');
            var brand_parent_id = $(this).attr('data-parent_id');
            var default_data_str = JSON.stringify(default_data);
            if(default_data_str.indexOf(':'+brand_id+',')!=-1) {
                layer.msg('当前已有该城市！');
                return true;
            }else{
                var obj = {
                    id:brand_id,
                    name:brand_name,
                    parent_id:brand_parent_id
                };
                default_data.push(obj);
                add_check_name(default_data,content)
            }
            store_val(default_data);
        });
        content.find(".ac-ok").on("click",function() {
            var input_hidden = parent.$("#c-region_id");
            var add_city_show = parent.$("#add_city_show");

            // 添加选择城市到父页面之前，先清空父页面显示的所有城市
            add_city_show.empty();
            // 添加选择城市到父页面之前，先清空父页面隐藏input的value
            input_hidden.val("");

            // 如果只选了一个城市：
            if (default_data.length <=1) {
                // 添加选择城市到父页面之前，先清空父页面隐藏input的value
                // add_city_show.empty();
                if(ac_del_box.children().length>0) {
                    var html = '',up_data_val="";
                    // console.log(default_data);
                    $.each(default_data, function (index, val) {
                        if(val.id!=100000) {
                            html += '<span style="display: inline-block;margin-right: 5px;padding: 6px 15px;border-radius: 4px;border: 1px solid #34c191;color: #34c191;vertical-align: middle;">' +
                                    val.name +
                                    '<i class="iconfont icon-cha1 ac-delete" data-id="' + val.id + '" data-index="' + index + '" data-parent_id= "' + val.parent_id + '" style="color: #dddddd;margin-left: 10px;cursor: pointer;display: none;"></i>' +
                                    '</span>';
                            up_data_val += val.id+",";
                        }
                    });
                    add_city_show.append(html);
                     parent.$('#c-region_id-error').hide();
                    up_data_val = up_data_val.substr(0,up_data_val.length - 1);
                    console.log(up_data_val);
                    input_hidden.val(up_data_val);
                }
               
                // 关闭该页面
                parent.layer.closeAll();
                return;
            } else {
                var default_data_rest = default_data.slice(1);
                var default_data_first = default_data[0];
                var city_falg = true;
                // console.log("default_data_first",default_data_first);
                // console.log("default_data_rest",default_data_rest);
                // console.log("default_data_rest[2].parent_id", default_data_rest[2].parent_id);
                // console.log("default_data",default_data);

                // 添加选择城市到父页面之前，先清空父页面隐藏input的value
                // add_city_show.empty();

                for (var i = 0; i < default_data_rest.length; i++) {
                    if (default_data_rest[i].parent_id != default_data_first.parent_id) {
                        console.log("所选城市只能在同一省内选择");
                        $(".submit_btn p").css("display", "block");
                        city_falg = false;
                        break;
                    }
                }
                // 判断所选城市中是否有不同省份的城市，如果没有执行下面函数
                if (city_falg) {
                    // 添加选择城市到父页面
                    add_city_show.empty();
                    if(ac_del_box.children().length>0) {
                        var html = '',up_data_val="";
                        // console.log(default_data);
                        $.each(default_data, function (index, val) {
                            if(val.id!=100000) {
                                html += '<span style="display: inline-block;margin-right: 5px;padding: 6px 15px;border-radius: 4px;border: 1px solid #34c191;color: #34c191;vertical-align: middle;">' +
                                        val.name +
                                        '<i class="iconfont icon-cha1 ac-delete" data-id="' + val.id + '" data-index="' + index + '" data-parent_id= "' + val.parent_id + '" style="color: #dddddd;margin-left: 10px;cursor: pointer;display: none;"></i>' +
                                        '</span>';
                                up_data_val += val.id+",";
                            }
                        });
                        add_city_show.append(html);
                         parent.$('#c-region_id-error').hide();
                        up_data_val = up_data_val.substr(0,up_data_val.length - 1);
                        console.log("test",up_data_val);
                        input_hidden.val(up_data_val);
                    }
                    
                    // 关闭该页面
                    parent.layer.closeAll();
                }

                // for (var i = 0; i < default_data_rest.length; i++) {
                //     if (default_data_rest[i].parent_id != default_data_first.parent_id) {
                //         console.log("所选城市只能在同一省内选择");
                //         $(".submit_btn p").css("display", "block");
                //         break;
                //     } else {
                //         // 添加选择城市到父页面
                //         add_city_show.empty();
                //         if(ac_del_box.children().length>0) {
                //             var html = '',up_data_val="";
                //             // console.log(default_data);
                //             $.each(default_data, function (index, val) {
                //                 if(val.id!=100000) {
                //                     html += '<span style="display: inline-block;margin-right: 5px;padding: 6px 15px;border-radius: 4px;border: 1px solid #34c191;color: #34c191;vertical-align: middle;">' +
                //                             val.name +
                //                             '<i class="iconfont icon-cha1 ac-delete" data-id="' + val.id + '" data-index="' + index + '" data-parent_id= "' + val.parent_id + '" style="color: #dddddd;margin-left: 10px;cursor: pointer;display: none;"></i>' +
                //                             '</span>';
                //                     up_data_val += val.id+",";
                //                 }
                //             });
                //             add_city_show.append(html);
                //             up_data_val = up_data_val.substr(0,up_data_val.length - 1);
                //             console.log("test",up_data_val);
                //             input_hidden.val(up_data_val);
                //         }
                //         // 关闭该页面
                //         parent.layer.closeAll();
                //     }
                // }
            }
        });
    })();
</script>