#city_box {
  padding: 0 ;
  margin: 0 ;
  list-style: none ;
}
#city_box ul {
  padding: 0 ;
  margin: 0 ;
  list-style: none ;
}
#city_box ul .level_3 {
  padding-left: 60px;
}
#city_box ul .level_4 {
  padding-left: 90px;
}
#city_box .level_2 {
  padding-left: 30px;
}
#city_box .bg-grey {
  background: #F2F2F2;
}
#city_box .bg-grey .level_2:hover,
#city_box .bg-grey .level_3:hover,
#city_box .bg-grey .level_4:hover {
  background: #ffffff;
}
#city_box .bg-white .level_2:hover,
#city_box .bg-white .level_3:hover,
#city_box .bg-white .level_4:hover {
  background: #F2F2F2;
}
#city_box .hidden {
  display: none;
}
#hot_city {
  background: #ffffff;
  border: none;
}
#hot_city .hot-city-table {
  padding-top: 8px;
  float: left;
  width: 70px;
}
#hot_city .hot-city-box {
  display: block;
  padding-left: 70px;
}
#hot_city .hot-city-box .hot-item {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding: 3px 30px 3px 20px;
  position: relative;
  border: 1px solid #dddddd;
  margin-bottom: 7px;
}
#hot_city .hot-city-box .hot-item span {
  float: left;
  line-height: 16px;
  margin-top: 3px;
  height: 16px;
}
#hot_city .hot-city-box .hot-item .drag-over {
  position: absolute;
  display: block;
  margin: 0;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
}
#hot_city .hot-city-box i {
  position: absolute;
  z-index: 2;
  top: 2px;
  right: 6px;
  color: #dddddd;
  cursor: pointer;
  margin: 0 0 0 10px;
}
