.title-com {
  display: flex;
  justify-content: space-between;
  padding: .32rem 0 .2rem 0;
  box-sizing: border-box;
}
.title-com .title-l {
  display: flex;
}
.title-com .title-l img {
  width: 0.04rem;
  height: 0.3rem;
  margin: 0 .21rem 0 .05rem;
}
.title-com .title-l p {
  font-size: .3rem;
  color: #333;
}
.title-com .title-l p span {
  font-size: .24rem;
  color: #999;
}
.l-star-box {
  display: flex !important;
  margin-bottom: .37rem;
}
.l-star-box .star-box-tem {
  width: 1.46rem;
  height: .26rem;
  position: relative;
  overflow: hidden;
  margin-right: .30rem;
}
.l-star-box .star-box-tem .cover-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.l-star-box .star-box-tem .cover-image {
  margin: -0.18rem -0.16rem -0.16rem -0.18rem;
  z-index: 3;
}
.l-star-box .star-box-tem .cover-image img {
  width: 100%;
  height: 100%;
}
.l-star-box .star-box-tem .cover-green,
.l-star-box .star-box-tem .cover-grey {
  position: absolute;
  width: 1.42rem;
  height: .22rem;
}
.l-star-box .star-box-tem .cover-green {
  z-index: 2;
  background: #faaf30;
}
.l-star-box .star-box-tem .cover-grey {
  z-index: 1;
  background: #dddddd;
}
.l-star-box .sd-score-box {
  font-size: .20rem;
  color: #656565;
}
.container {
  background-color: #f5f6f9;
}
.container .header {
  display: flex;
  width: 7.5rem;
  height: 1rem;
  background-color: #ffffff;
  box-shadow: 0.07rem 0.07rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: 0 .29rem;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10000;
}
.container .header img {
  width: 1.78rem;
  height: 0.52rem;
}
.container .header a {
  width: 1.8rem;
  height: 0.58rem;
  background-color: #22c363;
  border-radius: 0.29rem;
  font-size: .3rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: .58rem;
}
.container .shop-info {
  background-color: #fff;
}
.container .shop-info .image {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #ffffff;
}
.container .shop-info .image img {
  max-width: 100%;
  max-height: 100%;
}
.container .shop-info .info {
  padding: .29rem .3rem;
  box-sizing: border-box;
}
.container .shop-info .info .name > div:nth-child(1) {
  display: flex;
  margin-bottom: .29rem;
}
.container .shop-info .info .name > div:nth-child(1) img {
  vertical-align: middle;
  width: 0.26rem;
  height: 0.23rem;
  margin: .03rem .13rem 0 0;
}
.container .shop-info .info .name > div:nth-child(1) p {
  font-size: .3rem;
  color: #333;
  line-height: 0.3rem;
}
.container .shop-info .info .address {
  padding: .32rem 0;
  border: 1px dashed #ddd;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-right: 0;
  border-left: 0;
}
.container .shop-info .info .address .address-l {
  display: inherit;
}
.container .shop-info .info .address .address-l img {
  width: 0.21rem;
  height: 0.29rem;
  margin-right: .2rem;
}
.container .shop-info .info .address .address-l p {
  font-size: .26rem;
  color: #555;
}
.container .shop-info .info .address .address-r {
  width: 0.87rem;
  border-left: 1px solid #ddd;
}
.container .shop-info .info .address .address-r img {
  width: 0.26rem;
  height: 0.26rem;
}
.container .shop-info .info .time {
  display: flex;
  padding: .32rem 0;
  box-sizing: border-box;
}
.container .shop-info .info .time img {
  width: 0.25rem;
  height: 0.24rem;
  margin-right: .2rem;
}
.container .shop-info .info .time p {
  font-size: .26rem;
  color: #555;
}
.container .introduce {
  margin-top: .19rem;
  background-color: #fff;
}
.container .introduce .introduce-p {
  font-size: .26rem;
  color: #555;
  padding: 0 .4rem .4rem .3rem;
  line-height: 0.44rem;
}
.container .discount {
  background-color: #fff;
  margin-top: .2rem;
}
.container .discount .discount-info {
  padding: 0 .3rem;
  box-sizing: border-box;
}
.container .discount .discount-info .line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px dashed #ddd;
  padding: .26rem .15rem .22rem .21rem;
  box-sizing: border-box;
}
.container .discount .discount-info .line .discount-l h2 {
  font-size: .4rem;
  color: #333;
}
.container .discount .discount-info .line .discount-l h2 span {
  font-size: .4rem;
  color: #22c363;
}
.container .discount .discount-info .line .discount-r div {
  width: 1.7rem;
  height: 1.08rem;
}
.container .discount .discount-info .line .discount-r div img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.container .shop {
  margin-top: .2rem;
  background-color: #fff;
}
.container .shop .shop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 .29rem .29rem .29rem;
  box-sizing: border-box;
}
.container .shop .shop-list .shop-info {
  width: 3.22rem;
  height: 3.23rem;
}
.container .shop .shop-list .shop-info .shop-t {
  width: 3.2rem;
  height: 2.28rem;
  padding-top: .28rem;
  box-sizing: border-box;
}
.container .shop .shop-list .shop-info .shop-t .img {
  width: 3.2rem;
  height: 2rem;
  background-color: #ffffff;
  border-radius: 0.05rem;
  border: solid 0.01rem #dddddd;
}
.container .shop .shop-list .shop-info .shop-t .img img {
  max-width: 100%;
  max-height: 100%;
}
.container .shop .shop-list .shop-info .shop-b {
  margin-top: .2rem;
}
.container .shop .shop-list .shop-info .shop-b p:nth-child(1) {
  font-size: .26rem;
  width: 11em;
  color: #555;
  white-space: nowarp;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.container .shop .shop-list .shop-info .shop-b p:nth-child(2) {
  margin-top: .19rem;
  display: flex;
  justify-content: space-between;
}
.container .shop .shop-list .shop-info .shop-b p:nth-child(2) span:nth-child(1) {
  font-size: .3rem;
  color: #fc0e3d;
}
.container .shop .shop-list .shop-info .shop-b p:nth-child(2) span:nth-child(1) b:nth-child(1) {
  font-size: .24rem;
}
.container .shop .shop-list .shop-info .shop-b p:nth-child(2) span:nth-child(1) b:nth-child(2) {
  font-size: .3rem;
}
.container .shop .shop-list .shop-info .shop-b p:nth-child(2) span:nth-child(2) {
  padding: 0 .06rem;
  height: 0.3rem;
  background-color: #ddfbe9;
  border-radius: 0.03rem;
  border: solid 0.01rem #22c363;
  line-height: 0.3rem;
  text-align: center;
  font-size: .24rem;
  color: #22c363;
}
.container .comment {
  margin-top: .2rem;
  background-color: #fff;
}
.container .comment .comment-list {
  padding: 0 .23rem;
  box-sizing: border-box;
}
.container .comment .comment-list .list-main {
  display: flex;
  justify-content: space-between;
  padding: .18rem 0 .27rem 0;
  box-sizing: border-box;
}
.container .comment .comment-list .list-main > img {
  width: 0.82rem;
  height: 0.82rem;
  border-radius: 50%;
}
.container .comment .comment-list .list-main .list-r {
  width: 5.87rem;
}
.container .comment .comment-list .list-main .list-r p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: .28rem;
}
.container .comment .comment-list .list-main .list-r p:nth-of-type(1) span:nth-child(1) {
  font-size: .3rem;
  color: #333;
}
.container .comment .comment-list .list-main .list-r p:nth-of-type(1) span:nth-child(2) {
  font-size: .24rem;
  color: #999;
}
.container .comment .comment-list .list-main .list-r > .star-list {
  display: flex;
  margin-bottom: .29rem;
  height: 0.25rem;
}
.container .comment .comment-list .list-main .list-r > .star-list span {
  font-size: .24rem;
  color: #999;
  margin-right: .13rem;
}
.container .comment .comment-list .list-main .list-r p:nth-of-type(2) {
  font-size: .28rem;
  color: #555;
  line-height: 0.48rem;
}
.container .comment .comment-list .list-main .list-r .preview {
  display: flex;
  flex-wrap: wrap;
}
.container .comment .comment-list .list-main .list-r .preview div {
  width: 1.8rem;
  height: 1.3rem;
  background-color: #ffffff;
  border-radius: 0.05rem;
  border: solid 0.01rem #dddddd;
  margin: .18rem .11rem 0 0;
}
.container .comment .comment-list .list-main .list-r .preview div img {
  max-width: 100%;
  max-height: 100%;
}
.container .comment .comment-list .list-main ~ .list-main {
  border-top: 1px dashed #ddd;
}
.container .good {
  margin-top: .2rem;
  background-color: #fff;
}
.container .good .good-main {
  padding: 0 .3rem;
  box-sizing: border-box;
}
.container .good .good-main .good-list {
  display: flex;
  padding: .27rem 0 .39rem 0;
}
.container .good .good-main .good-list .img {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.05rem;
  border: solid 0.01rem #dddddd;
  margin-right: .21rem;
}
.container .good .good-main .good-list .img img {
  max-width: 100%;
  max-height: 100%;
}
.container .good .good-main .good-list .good-r {
  width: 5.22re;
}
.container .good .good-main .good-list .good-r p:nth-of-type(1) {
  font-size: .3rem;
  color: #333;
  margin-bottom: .19rem;
}
.container .good .good-main .good-list .good-r p:nth-of-type(2) {
  font-size: .23rem;
}
.container .good .good-main .good-list .good-r p:nth-of-type(2) span:nth-child(1) {
  font-size: .23rem;
  color: #666;
  margin-right: .2rem;
}
.container .good .good-main .good-list .good-r p:nth-of-type(2) span:nth-child(2) {
  font-size: .23rem;
  color: #999;
  margin-left: .2rem;
}
.container .good .good-main .good-list ~ .good-list {
  border-top: 1px dashed #ddd;
}
