<link rel="stylesheet" type="text/css" href="__CDN__/assets/libs/laydate/need/laydate.css?v={$site.version}"/>
<style>
    
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading row" style="padding-top:0;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
        <!-- <div class="panel-lead"><em>门店分类管理</em></div> -->
        <div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
            <div class="lf">
                <i class="fa fa-home" style="font-size: 14px;"></i>
            </div>
            <div class="panel-lead lf" style="margin: 0px;">活动管理&nbsp;&nbsp;&nbsp;> </div>
            <div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;活动列表</div>
        </div>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar">
                            <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="get" action="">
                                <div class="row"  style="margin:0;">
                                    <div style="float: left;width: 150px;margin-right: 5px;">
                                        <input class="form-control title-input" name="promotion_name" type="text" value="{$Request.get.promotion_name ?? ''}" placeholder="活动名称">
                                    </div>
                                    <div style="float: left;width: 150px;margin-right: 5px;">
                                        <input class="form-control title-input" name="shop_name" type="text" value="{$Request.get.shop_name ?? ''}" placeholder="店铺名称">
                                    </div>
                                    <div style="float: left;width: 150px;margin-right: 5px;">
                                        <select class="form-control title-input" required="" name="status">
                                            <option value="-1" {if $status eq -1} selected="selected"{/if}>状态</option>
                                            <option value="1" {if $status eq 1} selected="selected"{/if}>启用</option>
                                            <option value="0" {if $status eq 0} selected="selected"{/if}>停用</option>
                                        </select>
                                    </div>
                                    <div style="float: left;width: 230px;margin-right: 5px;" class="title-input">
                                        <input class="input-text laydate-icon os-pl-10 title-input " style="width: 230px; height: 36px;font-size: 12px;" placeholder="搜索创建时间区间 " type="text" id="date" value="{$Request.get.start_time|default=''}" name="start_time" onfocus="this.blur()"/>
                                    </div>
                                    <div style="float: left;width: 100px;margin-right: 25px; height: 36px;">
                                        <button type="submit" class="btn btn-success btn-ok btn-embossed" style="width: 100%;height: 36px; border-radius: 4px;background-color: #34c191;">{:__('OK')}</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row" style="margin:0;">
                                <div class="bs-bars pull-left">
                                    <div id="toolbar" class="toolbar" style="position: relative;">
                                        <a href="javascript:;" onclick="layer_open('添加活动', '/promotion/add',{w:'580px',h:'700px'})" class="btn btn-success btn-add bs-bars-com" title="添加活动">添加活动</a>
                                        <a href="javascript:;" data-isStop="1" data-id="0" class="ac-is-stop btn btn-success btn-status-disable btn-disabled bs-bars-com" style="background-color: #37c6c0" title="启用">批量启用</a>
                                        <a href="javascript:;" data-isStop="0" data-id="0" class="ac-is-stop btn btn-success btn-status-enable btn-disabled bs-bars-com" title="禁用" style="background-color: #79baf3">批量禁用</a>
                                    </div>
                                </div>
                                <div class="bs-bars pull-right">
                                	<select class="pull-left form-control title-input num_list" style="outline: none;width:120px;">
	                                	<option value="0">查看条数</option>
	                                	{volist name='page_list' id='vo'}
	                                	<option value="{$vo}" {if $Think.session.cur_limit eq $vo}selected{/if}>{$vo}</option>
	                                	{/volist}
	                                </select>
                                </div>
                            </div>
                            <div>
                            	<p style="text-align: right;padding-right:10px;line-height:20px;">共有 <span style="color: #34c191;">{$list->total()}</span> 个活动</p>
                            </div>
                        </div>
                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                            <div class="fixed-table-header" style="display: none;">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">

                                <table id="table" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px; " data-field="0">
                                            <div class="th-inner "><input name="btSelectAll" id="btSelectAll" type="checkbox"></div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="">
                                            <div class="th-inner ">Id</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="">
                                            <div class="th-inner ">活动名称</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="">
                                            <div class="th-inner ">店铺名称</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="">
                                            <div class="th-inner ">开始时间</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="">
                                            <div class="th-inner ">结束时间</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="">
                                            <div class="th-inner ">是否推荐</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="">
                                            <div class="th-inner ">状态</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="">
                                            <div class="th-inner ">操作</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody data-listidx="0">
                                    {volist name='list' id='vo'}
                                    <tr class="ac-tr">
                                        <td class="bs-checkbox ">
                                            <input data-index="{$i-1}" value="{$vo.id}" name="btSelectItem" type="checkbox">
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.id}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.title}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.name}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.start_time|default=''}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.end_time|default=''}</td>

                                        <td style="text-align: center; vertical-align: middle; ">
                                            {if $vo.is_index eq 1}
                                            <a class="btn-change text-success ac-is-index" href="javascript:;" data-isStop="0" data-id="{$vo.id}" title="取消推荐">
                                                <i class="fa fa-toggle-on fa-2x" style="color: #18bc9c;"></i>
                                            </a>
                                            {else}
                                            <a class="btn-change text-success ac-is-index" href="javascript:;" data-isStop="1" data-id="{$vo.id}" title="推荐">
                                                <i class="fa fa-toggle-off fa-2x" style="color: #18bc9c;"></i>
                                            </a>
                                            {/if}
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            {if $vo.status eq 1}
                                            <a class="btn-change text-success ac-is-stop" href="javascript:;" data-isStop="0" data-id="{$vo.id}" title="禁用">
                                                <i class="fa fa-toggle-on fa-2x" style="color: #18bc9c;"></i>
                                            </a>
                                            {else}
                                            <a class="btn-change text-success ac-is-stop" href="javascript:;" data-isStop="1" data-id="{$vo.id}" title="启用">
                                                <i class="fa fa-toggle-off fa-2x" style="color: #18bc9c;"></i>
                                            </a>
                                            {/if}
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            <a href="javascript:;" data-Id="{$vo.id}"  class="<?php echo ($vo['status'] == 1) ? 'editClick': 'btn-s';?> btn-editone btn-color editCC" title="编辑" data-table-id="table" data-field-index="9" data-row-index="0" data-button-index="0"><i class="iconfont icon-edit"></i></a>
                                            <a href="javascript:;" style='color:#9f9f9f; display: inline-block;margin-left: 5px;' onclick="del_data({ids:{$vo.id},parent_item:$(this).parents('.ac-tr'),is_refresh:false,url:'/promotion/delete.html'});" class="deleteCC btn-delone" title="删除" data-table-id="table" data-field-index="9" data-row-index="30" data-button-index="2"><i class="iconfont icon-shanchu"></i></a>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-footer" style="display: none;">
                                <table>
                                    <tbody>
                                    <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-pagination">{$list->render()|raw}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__CDN__/assets/libs/laydate5/laydate.js"></script>
<script>
	$(function(){
		//  切换显示条数
	    $('.num_list').change(function(){
	    	var value=$(this).find('option:selected').val();
	    	var promotion_name=$('input[name="promotion_name"]').val();
	    	var shop_name=$('input[name="shop_name"]').val();                                   	
	    	var status=$('select[name="status"]').find('option:selected').val();    	
	    	var from_time=$('input[name="from_time"]').val();
	    	location.href = '/promotion/index?cur_limit=' + value+'&promotion_name='+promotion_name+'&shop_name='+shop_name+'&from_time='+from_time+'&status='+status;
	    	    
	    })
	})
	
    //时间插件
    laydate.render({
        elem: '#date'
        ,range: true
    });    

    $(".ac-is-stop").on("click", function () {
        var that = $(this)
        var obj = {
            url: '/promotion/edit_status',
            info_msg: '请选择要操作的资讯',
            show_stop:"禁用",
            show_start:"启用"
        };
        obj.os_this = $(this);
        obj.is_stop = $(this).attr("data-isStop");
        obj.id = $(this).attr("data-id");
        // obj.changeState($(this)) = changeState($(this));
        // obj.stateInstance = $(this);

        is_stop(obj);
    });
    
    function changeState(obj){
        if (obj.is_stop == 1) {
            obj.os_this.parent().next().children('.btn-editone').removeClass('btn-s').addClass('editClick')
        } else {
            obj.os_this.parent().next().children('.btn-editone').removeClass('editClick').addClass('btn-s')
            // $('this').css('backgroundColor', '#34c191')
        }
    }
    $(document).on('click', '.btn-s', function () {
            layer_open('编辑', '/promotion/edit/ids/' + $(this).attr('data-Id'), { w: '580px', h: '700px' })
    })

    $(".ac-is-index").on("click", function () {
        var obj = {
            url: '/promotion/edit_index',
            info_msg: '请选择要操作的活动',
            show_stop:"取消推荐",
            show_start:"推荐"
        };
        obj.os_this = $(this);
        obj.is_stop = $(this).attr("data-isStop");
        obj.id = $(this).attr("data-id");
        is_stop(obj);
    });

    
    function del(ids) {
        if (ids == 0) {
            ids = get_select_all();
        }
        if (ids == '') {
            layer.alert('请选择要操作的活动', {icon: 5});
            return false;
        }
        $.post('/promotion/delete', {ids: ids}, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function () {
                    window.parent.location.reload();
                });
            } else {
                layer.alert(data.msg, {icon: 5});
            }
        }, 'json')
    }

    $(function () {
        {notempty name='Request.get.region_id_1'}
        get_type("city_id", '{$Request.get.region_id_1}', 0, '{$Request.get.city_id}');
        {/notempty}
     })
</script>