<link rel="stylesheet" type="text/css" href="__CDN__/assets/libs/laydate/need/laydate.css?v={$site.version}"/>
<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar">
                            <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="get" action="">
                                <div class="row"  style="margin:0;">
                                    <div style="float: left;width: 180px;margin-right: 5px;">
                                        <select class="form-control" id="region_id_3">
                                            <option value="">区</option>
                                            {volist name='region_list_3' id='vo'}
                                            <option value="{$key}">{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div style="float: left;width: 100px;background-color: #34c191;margin-bottom: 20px;border-radius: 4px;">
                                        <button type="button" class="btn btn-success btn-ok btn-embossed" style="width: 100%;background-color: #34c191">检 查</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.btn-ok').click(function () {
        var region_id_3 = $('#region_id_3').val();
        if (region_id_3 == '') return false;

        layer.msg('数据匹配中，请稍后~~', {
            icon: 16
            , shade: 0.01
            , time: 0
        });
        $.post('', {region_id_3: region_id_3}, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function () {
                    window.parent.location.reload();
                });
            } else {
                layer.msg(data.msg);
            }
        });
    });
</script>