<script type="text/javascript" src="__CDN__/assets/libs/laydate5/laydate.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<div class="panel panel-default panel-intro">
    <!-- <div class="panel-heading row" style="padding-top:0;padding-left: 30px;color: #999;font-size: 12px;">
        <div class="lf"><i class="fa fa-home" style="font-size: 14px;"></i></div>
        <div class="panel-lead lf" style="margin-left: 7px;"> > 商品管理</div>
        <div class="panel-lead lf" style="margin-left: 7px;"> > 商品管理</div>
    </div> -->
    <div class="panel-heading row" style="padding-top:0;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
        <div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
            <div class="lf">
                <i class="fa fa-home" style="font-size: 14px;"></i>
            </div>
            <div class="panel-lead lf" style="margin: 0px;">重复数据管理&nbsp;&nbsp;&nbsp;> </div>
            <div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;重复数据列表 </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar">
                            <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="get" action="">
                                <div class="row" style="margin:0;">
                                    <div style="float: left;width: 150px;margin-right: 10px;">
                                        <input class="form-control title-input" name="shop_name" type="text" value="{$Request.get.shop_name ?? ''}" placeholder="门店名称">
                                    </div>
                                    <div style="float: left;width: 115px;margin-right: 10px;">
                                        <select class="form-control" name="region_id_3" style="height:35px" onchange='javascript:get_type("region_id_4", this.value, 0)'>
                                            <option value="">区</option>
                                            {volist name='region_list_3' id='vo'}
                                            <option value="{$key}" {if $Request.get.region_id_3 eq $key}selected{/if}>{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div style="float: left;width: 120px;margin-right: 10px;">
                                        <select class="form-control" name="region_id_4" id="region_id_4" style="height: 35px;">
                                            <option value="">商圈</option>
                                        </select>
                                    </div>
                                    <div style="float: left;width: 90px;margin-right: 10px;">
                                        <select class="form-control title-input" required="" name="status" style="width: 90px;height:35px;">
                                            <option value="-1" {if $status eq -1} selected="selected" {/if}>状态</option>
                                            <option value="1" {if $status eq 1} selected="selected" {/if}>上架</option>
                                            <option value="0" {if $status eq 0} selected="selected" {/if}>下架</option>
                                        </select>
                                    </div>
                                    <div style="float: left;width: 175px;margin-right: 10px;">
                                        <input class="input-text laydate-icon os-pl-10" style="width: 175px; height: 36px;padding-left: 8px;font-size: 12px;border:1px solid #d2d6de" type="text" id="fromTime" name="from_time" placeholder="搜索时间区间" onfocus="this.blur()"/>
                                    </div>
                                    <div style="float: left;width: 95px;background-color: #34c191;" class="br">
                                        <button type="submit" class="btn btn-success btn-ok btn-embossed title-input br" style="width: 100%; background-color: #34c191;">搜 索</button>
                                    </div>
                                    <div class="num" style="float:right;width:100px;margin-left:10px">
		                            	<select class="pull-left form-control title-input num_list" style="width:100px;border-color:#34C191;height:35px;">
		                                	<option value="0">查看条数</option>
		                                	{volist name='page_list' id='vo'}
		                                	<option value="{$vo}" {if $Think.session.cur_limit eq $vo}selected{/if}>{$vo}</option>
		                                	{/volist}
		                                </select>
		                            </div>   
                                    <a href="javascript:;" onclick="layer_open('检查数据', '/duplication/check_data',{w:'400px',h:'250px'})" class="btn btn-success bs-bars-com btn-add pull-right"
                                        title="检查数据"> 检查数据</a>                                                                            
                                </div>
                                <div>
                                	<p style="text-align: right;line-height:40px;padding-right:10px;margin:0;">共有<span style="color:#34c191;">{$list->total()}</span>条数据</p>
                                </div>
                            </form>                           
                        </div>
                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                            <div class="fixed-table-header" style="display: none;">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">

                                <table id="table" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                                    <thead>
                                        <tr style="background-color: #e8f7f2;">
                                            <th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px; " data-field="0">
                                                <div class="th-inner ">
                                                    <input name="btSelectAll" id="btSelectAll" type="checkbox">
                                                </div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">Id</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">门店名称</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">门店分类</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">区</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">商圈</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">门店地址</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">来源</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">上传时间</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">状态</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">操作</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-listidx="0">
                                        {volist name='list' id='vo'}
                                        <tr>
                                            <td class="bs-checkbox ">
                                                <input data-index="{$i-1}" value="{$vo.id}" name="btSelectItem" type="checkbox">
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.id}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.name}</td>
                                            <td style="text-align: center; vertical-align: middle; ">
                                                {volist name='vo.shop_type_shop' id='vo2'}
                                                {if isset($type_list[$vo2.type_id])}{$type_list[$vo2.type_id]}&nbsp;&nbsp;&nbsp;{/if}
                                                {/volist}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.region_3.0.name ?? ''}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.region_4.0.name ?? ''}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.address}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.data_source == 1 ? '抓取' : ($vo.data_source == 2 ? '导入' : '后台添加')}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.create_time}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.status == 1 ? '启用' : '禁用'}</td>
                                            <td style="text-align: center; vertical-align: middle; ">
                                                <a href="javascript:;" onclick="layer_open('查看', '/duplication/look/ids/{$vo.id}')" class="albumCC btn-editone" title="查看" data-table-id="table" data-field-index="9" data-row-index="0"
                                                    data-button-index="0">
                                                    <i class="iconfont icon-chakan"></i>
                                                </a>
                                                <a href="javascript:;" onclick="del({$vo.id}, {$vo.group_id});" class="albumCC btn-delone" title="删除" data-table-id="table" data-field-index="9"
                                                   data-row-index="30" data-button-index="2">
                                                    <i class="iconfont icon-shanchu"></i>
                                                </a>
                                                <a href="javascript:;" onclick="exclude_data({$vo.id}, {$vo.group_id});" class="albumCC btn-delone" title="排除" data-table-id="table" data-field-index="9"
                                                   data-row-index="30" data-button-index="2">
                                                   <img style="width:18px;margin-top:-5px;" src="/assets/img/exclude.png" alt="排除" />
                                                </a>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-footer" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-pagination">{$list->render()|raw}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
//  	切换显示条数
    	$('.num_list').change(function(){
        	var value=$(this).find('option:selected').val();
        	var shop_name=$('input[name="shop_name"]').val();        	
        	var region_list_3=$('select[name="region_list_3"]').find('option:selected').val();
        	var region_list_4=$('select[name="region_list_4"]').find('option:selected').val();
        	var status=$('select[name="status"]').find('option:selected').val();
        	var from_time=$('input[name="from_time"]').val();
        	location.href = 'index?cur_limit=' + value+'&shop_name='+shop_name+'&region_list_3='+region_list_3+'&region_list_4='+region_list_4+'&status='+status+'&from_time='+from_time;       	    
        })
    	
        {notempty name='Request.get.region_id_3'}
        get_type("region_id_4", '{$Request.get.region_id_3}', 0, '{$Request.get.region_id_4}');
        {/notempty}
    })

    function del(ids, group_id) {
        // if (ids == 0) {
        //     ids = get_select_all();
        // }
        if (ids == '') {
            layer.msg('请选择要操作的门店');
            return false;
        }
        $.post('/duplication/delete', { ids: ids, group_id: group_id }, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function () {
                    window.parent.location.reload();
                });
            } else {
                layer.msg(data.msg);
            }
        }, 'json')
    }

    function exclude_data(ids, group_id) {
        if (ids == 0) {
            ids = get_select_all();
        }
        if (ids == '') {
            layer.msg('请选择要操作的门店');
            return false;
        }
        $.post('/duplication/exclude_data', { ids: ids, group_id: group_id }, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function () {
                    window.parent.location.reload();
                });
            } else {
                layer.msg(data.msg);
            }
        }, 'json')
    }
    /**
     * 加载时间插件
     */
    laydate.render({
        elem: '#fromTime'
        ,range: true
        ,value: "{$Request.get.from_time ?? ''}"
    });
    
</script>