@import '../fonts/self-iconfont/iconfont.css';
.os-radius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.btn-grey {
  color: #ffffff;
  background: #dddddd;
}
.btn-grey:hover {
  color: #ffffff;
  background: #dddddd;
}
.l {
  float: left;
}
.lf {
  float: left;
}
.os-row {
  display: block;
}
.os-row:after {
  display: table;
  content: '';
  clear: both;
}
.os-row:before {
  display: table;
  content: '';
}
.mt-30 {
  margin-top: 30px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.margin-0 {
  margin: 0;
}
.os-ml-90 {
  margin-left: 90px;
}
.os-ml-70 {
  margin-left: 70px;
}
.os-mt-10 {
  margin-top: 10px;
}
.mt-60 {
  margin-top: 60px !important;
}
.os-mt-5 {
  margin-top: 5px !important;
}
.os-mt-0 {
  margin-top: 0 !important;
}
.os-ml-25 {
  margin-left: 25px;
}
.os-mt-30 {
  margin-top: 30px !important;
}
.os-mr-m20 {
  margin-right: -20px !important;
}
.os-ml-m20 {
  margin-left: -20px !important;
}
.padding-0 {
  padding: 0 !important;
}
.padding-4 {
  padding: 4px !important;
}
.pl-25 {
  padding-left: 25px;
}
.os-pt-3 {
  padding-top: 3px;
}
.os-pt-0 {
  padding-top: 0 !important;
}
.os-pb-0 {
  padding-bottom: 0 !important;
}
.os-pr-15 {
  padding-right: 15px !important;
}
.os-pr-20 {
  padding-right: 20px !important;
}
.os-pr-25 {
  padding-right: 25px !important;
}
.os-pr-30 {
  padding-right: 30px !important;
}
.os-pr-120 {
  padding-right: 120px !important;
}
.os-pr-200 {
  padding-right: 200px !important;
}
.os-pl-30 {
  padding-left: 30px !important;
}
.os-pl-60 {
  padding-left: 60px !important;
}
.os-pl-20 {
  padding-left: 20px !important;
}
.os-pr-10 {
  padding-right: 10px !important;
}
.os-pl-10 {
  padding-left: 10px !important;
}
.p-col {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-stretch: ultra-expanded;
}
.p-8 {
  padding: 8px;
}
.p-row-10 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.ml-25 {
  margin-left: 25px;
}
.os-ml-105 {
  margin-left: 105px;
}
.os-mr-105 {
  margin-right: 105px;
}
.os-ml-135 {
  margin-left: 135px;
}
.os-mr-135 {
  margin-right: 135px;
}
.text-r {
  text-align: right;
}
.os-img {
  display: block;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.os-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.os-relative {
  position: relative;
}
.ta-imgItem {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  position: relative;
}
.ta-imgItem i,
.ta-imgItem sup {
  display: block;
  position: absolute;
}
.ta-imgItem sup {
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background: transparent url(../img/spirit_system.png?v=1.0.28) -27px -23px no-repeat;
  z-index: 1;
}
.ta-imgItem i {
  width: 15px;
  height: 15px;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 1;
  background: transparent url(../img/close_red.png?v=1.0.28) no-repeat;
  background-size: 15px 15px;
}
.ta-imgItem b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 100px;
  text-align: center;
}
[data-greyPrompt='modifyPwd'] {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 16000;
}
[data-greyPrompt='modifyPwd'] span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}
.table-striped > tbody > tr:nth-of-type(odd) .cover-image {
  background: transparent url(../img/five_star.png?v=1.0.28) no-repeat;
  background-size: 90px 30px;
}
.table-striped > tbody > tr:hover .cover-image {
  background: transparent url(../img/five_star.png?v=1.0.28) no-repeat;
  background-size: 90px 30px;
}
.star-box-tem {
  width: 70px;
  height: 10px;
  position: relative;
  overflow: hidden;
}
.star-box-tem .cover-image,
.star-box-tem .cover-green,
.star-box-tem .cover-grey {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.star-box-tem .cover-image {
  margin: -10px;
  z-index: 3;
  background: transparent url(../img/five_star_grey.png?v=1.0.28) no-repeat;
  background-size: 90px 30px;
}
.star-box-tem .cover-green {
  z-index: 2;
  background: #34c191;
}
.star-box-tem .cover-grey {
  z-index: 1;
  background: #dddddd;
}
.overflow-hidden {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.os-dropdown {
  position: absolute;
  text-align: left;
  left: 0;
  right: 0;
  height: 0;
  top: 31px;
  z-index: 30;
  max-height: 180px;
  overflow-y: auto;
  background: #ffffff;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.os-dropdown span {
  display: block;
  height: 17px;
  overflow: hidden;
}
.os-dropdown .focus {
  background: #999;
  color: #313131;
}
.os-dropdown-on {
  padding-top: 3px;
  border: 1px solid #dddddd;
  border-top: none;
  height: 100px;
}
.os-checkbox {
  width: 14px;
  height: 14px;
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #dddddd;
}
.os-checkbox-focus {
  background-color: #34c191;
}
.c {
  padding: 0 15px;
  display: inline-block;
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 13px;
  color: #656565;
  line-height: 36px;
  box-sizing: border-box;
}
.c > i {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
  margin-left: 13px;
  color: #ddd;
  vertical-align: middle;
}
.fixed-table-pagination {
  text-align: center;
  height: 50px !important;
}
.fixed-table-pagination .active span {
  background-color: #34c191;
  border-color: #34c191;
  color: #fff;
}
.fixed-table-pagination a {
  color: #34c191 !important;
}
.fixed-table-pagination li {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  /* border: solid 1px #dddddd; */
}
.pagination {
  margin-bottom: 0;
}
.iconfont {
  font-weight: normal !important;
}
.bs-bars-com {
  width: 100px !important;
  line-height: 36px !important;
  background-color: #34c191;
  border-radius: 4px !important;
  padding: 0 !important;
}
#laydate_YY,
#laydate_MM {
  height: 26px;
}
#laydate_YY {
  margin-right: 7px;
}
.laydate_bottom {
  height: 32px !important;
}
#laydate_table {
  margin-top: 5px;
}
#panel-body {
  background-color: #fff;
}
#panel-body label {
  width: 80px !important;
  padding: 0 !important;
  vertical-align: middle;
  line-height: 32px;
}
#panel-body #editTypeCC {
  background-color: #34c191;
}
#panel-body #editBrandCC {
  background-color: #34c191;
}
#panel-body .radio-inline {
  width: 50px !important;
  line-height: 20px;
  margin-top: 5px;
}
#panel-body #ac_brand_show span,
#panel-body #ac_type_show span {
  padding: 0 15px !important;
  line-height: 26px;
}
#panel-body #editBrandCC,
#panel-body #editTypeCC {
  width: 100px;
  height: 36px;
  background-color: #34c191;
  border-radius: 4px;
  border: solid 1px #34c191;
}
#panel-body #c-title,
#panel-body #c-author,
#panel-body #c-type_id {
  width: 150px;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #dddddd;
}
#panel-body .btn-add {
  background-color: #34c191;
  border-radius: 4px;
}
#panel-body .ac-img-url-box {
  margin-left: 15px;
}
#panel-body .form-control {
  width: 310px;
  height: 90px;
  border-radius: 4px;
  border: solid 1px #dddddd;
  resize: none;
}
#panel-body .btn-embossed {
  width: 100px;
  height: 36px;
  background-color: #34c191;
  border-radius: 4px;
  color: #fefefe;
}
#panel-body .op {
  width: 150px;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #dddddd;
}
.layui-layer-title {
  background-color: #34c191 !important;
}
.albumCC {
  color: #9f9f9f !important;
  margin-right: 5px;
  display: inline-block !important;
  background-color: transparent;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f5f5f5;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
.lf .fa-home {
  margin-right: 9px;
}
.table-input {
  width: 100px;
  height: 36px;
  text-align: center;
}
.content {
  padding: 0 !important;
  background-color: #fff;
}
.title-input {
  height: 36px;
  width: 150px;
}
.br {
  border-radius: 4px;
}
.skin-green .treeview-menu > li.active > a,
.skin-green .treeview-menu > li > a:hover {
  color: #34c191;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: pointer !important;
  opacity: 1 !important;
}
.editClick {
  background-color: #ddd;
  color: #fff;
  display: none;
}
.btn-s {
  color: #9f9f9f;
  display: inline-block;
}
.setEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  font-size: 12px;
}
