<div class="panel panel-default panel-intro">
    <input type="hidden"  id="good_add_database"/>
    <div class="panel-heading row" style="padding-top:0;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
        <!-- <div class="panel-lead"><em>门店分类管理</em></div> -->
        <div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
            <div class="lf">
                <i class="fa fa-home" style="font-size: 14px;"></i>
            </div>
            <div class="panel-lead lf" style="margin: 0px;">系统配置&nbsp;&nbsp;&nbsp;> </div>
            <div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;商品推荐管理</div>
        </div>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar">
                            <form id="edit-form" class="form-horizontal pull-left" role="form" data-toggle="validator" method="get" action="">
                                <div class="row"  style="margin:0;">
                                    <div style="float: left;width: 150;margin-right: 5px;">
                                        <input class="form-control title-input" name="good_name" type="text" value="{$Request.get.good_name ?? ''}" placeholder="商品名称">
                                    </div>
                                    <div style="float: left;width: 150;margin-right: 5px;">
                                        <input class="form-control title-input" name="shop_name" type="text" value="{$Request.get.shop_name ?? ''}" placeholder="门店名称">
                                    </div>
                                    <div style="float: left;width: 150;margin-right: 5px;">
                                        <select class="form-control title-input" name="region_id_3" id="region_id_3" onchange='javascript:get_type("region_id_4", this.value, 0,"","商圈")'>
                                            <option value="">区</option>
                                            {volist name='region_list_3' id='vo'}
                                            <option value="{$key}" {if $Request.get.region_id_3 eq $key}selected{/if}>{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div style="float: left;width: 150;margin-right: 5px;">
                                        <select class="form-control title-input" name="region_id_4" id="region_id_4">
                                            <option value="">商圈</option>
                                        </select>
                                    </div>
                                    <div style="float: left;width: 100px;">
                                        <button type="submit" class="btn btn-success btn-ok btn-embossed" style="width: 100%;height: 36px;background-color: #34c191;">{:__('OK')}</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row" style="margin:0;">
                            	<div class="num pull-right" style="margin-left:10px;">
	                            	<select class="pull-left form-control title-input num_list" style="width:120px;border-color:#34C191;">
	                                	<option value="0">查看条数</option>
	                                	{volist name='page_list' id='vo'}
	                                	<option value="{$vo}" {if $Think.session.cur_limit eq $vo}selected{/if}>{$vo}</option>
	                                	{/volist}
	                                </select>
	                            </div> 
                                <div class="bs-bars pull-right" style="margin:0;">
                                    <div id="toolbar" class="toolbar" style="position: relative;">
                                        <a href="javascript:;" onclick="layer_open('选择商品', '/sysconf/index_good/add',{w:'1000px',y:'900px'})" class="btn btn-success btn-add bs-bars-com ac-add-goods" title="添加" >添加推荐商品</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="float: right;font-size: 12px;padding: 8px; margin: 0">共计
                            <span style="color: #34c191;">{$list->total()}</span> 个推荐商品</p>
                        <div class="fixed-table-container row" style="margin: 0;padding-bottom: 0;margin-top: 15px;">
                            <div class="fixed-table-header" style="display: none;">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <table id="table" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                                    <thead>
                                    <tr style="background-color: #e8f7f2;">
                                        <th style="text-align: center; vertical-align: middle; width: 50px;  " data-field="id">
                                            <div class="th-inner ">Id</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="name">
                                            <div class="th-inner ">商品图片</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="nickname">
                                            <div class="th-inner ">商品名称</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; width: 120px;" data-field="status">
                                            <div class="th-inner ">门店名称</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; width: 120px;" data-field="status">
                                            <div class="th-inner ">排序</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; width: 120px;" data-field="status">
                                            <div class="th-inner ">区</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; width: 120px;" data-field="status">
                                            <div class="th-inner ">商圈</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;width: 120px; " data-field="operate">
                                            <div class="th-inner ">操作</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody data-listidx="0">
                                    {volist name='list' id='vo'}
                                    <tr class="ac-tr">
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.id ?? ''}</td>
                                        <td style="text-align: center; vertical-align: middle; width:10%;">
                                            <img style="max-height: 60px;" src="{$Think.config.qiniu.domain}/{$vo.preview_image ?? ''}">
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width:20%">
                                        	<div class="ac-store-name setEllipsis" style="width:20em;display: inline-block;" title="{$vo.title ?? ''}">
                                        		{$vo.title ?? ''}
                                        	</div>
                                        	
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                        	<div class="ac-store-name setEllipsis" style="width:20em;display: inline-block;" title="{$vo.shop_name ?? ''}">                                        		
                                        		{$vo.shop_name ?? ''}
                                            </div>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            <input type="text" maxlength="4" class="input-text table-input ac-input-number ac-sort" data-id="{$vo.id}" id="{$vo.id}" value="{$vo.sort ?? 0}"  data-val="{$vo.sort ?? 0}" style="border:1px solid #ddd">
                                        </td>
                                        
                                        <td style="text-align: center; vertical-align: middle;">
                                        	{$vo.region3.0.name ?? ''}
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width:20%;">
                                            <div class="ac-store-name setEllipsis" style="width:20em;display: inline-block;" title="{$vo.shop_name ?? ''}">                                        		
                                            	{$vo.region4.0.name ?? ''}
                                            </div>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;  width: 120px;">
                                            <a href="javascript:;" onclick="del({$vo.id});" class="albumCC btn-delone" title="删除" data-table-id="table" data-field-index="9" data-row-index="30" data-button-index="2"><i class="iconfont icon-shanchu"></i></a>
                                            <!-- <a href="javascript:;" onclick="layer_open('编辑', '/sysconf/brand/edit/ids/{$vo.id}',{w:'400px',h:'432px'})" class=" albumCC"
                                                title="编辑" data-table-id="table" data-field-index="9" data-row-index="0" data-button-index="0">
                                                <i class="iconfont icon-shanchu"></i>
                                            </a> -->
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-footer" style="display: none;">
                                <table>
                                    <tbody>
                                    <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-pagination">{$list->render()|raw}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
    	//切换显示条数
		$('.num_list').change(function(){
        	var value=$(this).find('option:selected').val();
        	var good_name=$('input[name="good_name"]').val(); 
        	var shop_name=$('input[name="shop_name"]').val(); 
        	var region_id_3=$('select[name="region_id_3"]').find('option:selected').val();
        	var region_id_4=$('select[name="region_id_4"]').find('option:selected').val();        	
        	location.href = '/sysconf/index_shop/index?cur_limit=' + value+'&shop_name='+shop_name+'&good_name='+good_name+'&region_id_3='+region_id_3+'&region_id_4='+region_id_3;        	    
        })
    	
        $(".ac-input-number").on("input", function () {
            fun.inputNumber($(this));
        });
        $(".ac-add-goods").on("click", function () {
            $("#good_add_database").removeAttr("data-database");
        });
        var obj = {};
        obj.url = "/sysconf/index_good/edit_sort";
        sort_edit(obj);
    })();


    function del(ids) {
        if (ids == '') {
            layer.msg('请选择要操作的商品');
            return false;
        }
        $.post('/sysconf/index_good/delete', {ids: ids}, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function () {
                    window.parent.location.reload();
                });
            } else {
                layer.msg(data.msg);
            }
        }, 'json')
    }

    $(function () {
        {notempty name='Request.get.region_id_3'}
        get_type("region_id_4", '{$Request.get.region_id_3}', 0, '{$Request.get.region_id_4}');
        {/notempty}
    })

</script>