<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<div class="panel panel-default panel-intro">
    <div class="panel-heading row" style="padding-top:0;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
        <div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
            <div class="lf">
                <i class="fa fa-home" style="font-size: 14px;"></i>
            </div>
            <div class="panel-lead lf" style="margin: 0px;">导入管理&nbsp;&nbsp;&nbsp;> </div>
            <a href="<?php echo url('import/index');?>" class="panel-lead lf pl" style="margin: 0px; color: #999 !important;">&nbsp;&nbsp;导入列表&nbsp;&nbsp;&nbsp;> </a>
            <div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;失败列表
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar">
                            <div class="row" style="margin:0;">
                                <div class="bs-bars pull-left" style="width: 100%;margin-bottom: 0">
                                    <div id="toolbar" class="toolbar" style="position: relative;">
                                        <a href="javascript:;" onclick="export_data(0)" data-id="0" class="ac-is-stop btn btn-success bs-bars-com btn-status-enable btn-disabled"
                                           title="全部导出" style="background-color: #37c6c0;"> 全部导出</a>
                                        <div class="num" style="float: right;">
			                            	<select class="form-control title-input num_list" style="width: 120px;border-color:#18BC9C" name="" id="">
			                                	<option value="0">查看条数</option>
			                                	{volist name='page_list' id='vo'}
			                                	<option value="{$vo}" {if $Think.session.cur_limit eq $vo}selected{/if}>{$vo}</option>
			                                	{/volist}
			                                </select>
			                            </div>  
                                    </div>
                                    <p style="float: right;font-size: 12px;line-height:30px;margin:0;">共计 <span style="color: #34c191;">{$list->total()}</span> 条数据</p>
                                </div>
                            </div>
                        </div>
                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                            <div class="fixed-table-header" style="display: none;">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">

                                <table id="table" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                                    <thead>
                                        <tr style="background-color: #e8f7f2;">                                         
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">编号</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">门店名称</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">门店分类</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">区</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">商圈</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">门店地址</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">错误原因</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle; " data-field="">
                                                <div class="th-inner ">操作</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-listidx="0">
                                        {volist name='list' id='vo'}
                                        <tr>                                            
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.id}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.shop_name}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.type_name}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.region_id_3}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.region_id_4}</td>
                                            <td style="text-align: center; vertical-align: middle; ">{$vo.address}</td>
                                            <td style="text-align: center; vertical-align: middle; "><a title="查看错误原因" class="look_err" data-id="{$vo.id}" data-count="{$vo.err_count}" href="javascript:void (0);" style="color:#34c191">{$vo.err_count}</a></td>
                                            <td style="text-align: center; vertical-align: middle; ">
                                                <a href="javascript:;" onclick="export_data({$vo.id});" class="albumCC btn-delone" title="导出" data-table-id="table" data-field-index="9"
                                                   data-row-index="30" data-button-index="2">
                                                    <img style="width:20px;" src="/assets/img/export.png"/>
                                                </a>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-footer" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-pagination">{$list->render()|raw}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	$(function(){
		$('.num_list').change(function(){
	    	var value=$(this).find('option:selected').val();	    	
	    	location.href = '/import/import_err/branch_no/'+{$branch_no}+'.html?cur_limit=' + value;
	    })
	})
	
    function export_data(ids) {
        if(ids==0){
        	location.href = '/import/export_data?branch_no='+{$branch_no};
        }else{
        	location.href = '/import/export_data?branch_no='+{$branch_no}+"&ids="+ids;
        }
        
    }
    $('.look_err').on("click",function () {
        var err_count = $(this).attr('data-count');
        if(err_count && err_count != 0) {
            var url = '<?php echo url("import/err_info");?>' + '?id=' + $(this).attr('data-id');
            layer_open('错误原因', url,{w:'500px',h:'400px'});
        }
    });
</script>