<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" style="background: #ffffff; height: 100vh;">
    <div style="padding: 25px 45px 0 45px;">
        <input id="branch_no" type="hidden" value="{$branch_no ?? ''}"/>
        <div class="form-group" style="margin-bottom: 0;">
            <label for="check-store" class="control-label lf" style="width: 75px;line-height:31px;">选择门店:</label>
            <div class="lf input-group" style="width: 265px;position: relative;height: 56px;">
                <input id="check-store" data-msg-empty="请输入门店名称" class="form-control ac-input" type="text" placeholder="选择门店名称" autocomplete="off" style="padding: 0 15px;" data-link-class="ac-dropdown"/>
                <div class="ac-dropdown os-dropdown"></div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0;">
            <label for="c-image" class="control-label lf" style="width: 75px;line-height:31px;">选择文件:</label>
            <div class="lf" style="width: 265px;vertical-align: middle;height: 56px;">
                <div class="input-group lf ac-error-box" id="div_box">
                    <input type="text" class="hidden"/>
                    <div  class="form-control" id="c-image"></div>
                    <input id="c-file" class="hidden"  type="file" accept=".zip" value="{$row.image_url ?? ''}">
                    <div class="input-group-addon no-border no-padding">
                <span>
                    <button  style="margin-top: -5px;" type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image">
                        <i class="fa fa-upload"></i> 上传
                    </button>
                </span>
                    </div>
                    <span class="msg-box n-right"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div style="text-align: center;">
                <button type="button" class="btn btn-success btn-ok btn-embossed ac-btn" style="width: 100px;height: 36px;background-color: #34c191;" >保存</button>
            </div>
        </div>
    </div>
</form>
<script src="__CDN__/assets/js/backend/associative_input.js?v={$site.version}"></script>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/error_msg.js?v={$site.version}"></script>
<script>
    (function () {
        fun.associative_input($("#check-store"));
        var file = $('#c-file');
        $("#plupload-image").on("click", function () {
            file.click();
        });
        file.on('change', function( e ){
            var file_name = e.currentTarget.files[0].name;
            $("#c-image").html(file_name);
        });

        //阻止事件蔓延 ,只允许后面的按钮事件有效果
        $("#c-image").on("click", function (e) {
            e.stopPropagation();
        });
        //调用防错处理,start
        //公共的弹出框样式
        var public_style_error = {
            display: 'inline-block',
            marginTop:'3px',
            overflow: 'inherit'
        };
        // 输入框的必填项调用
        fun.error_msg_clear({}, public_style_error);
        //非必填输入框和div,select的防错处理
        fun.error_clear_box();
        //调用防错处理结束


        //选择门店检测方法
        function validate_check_store(id,is_focus) {
            var check_store =id;
            var check_store_obj = {
                element: check_store
            };
            if(is_focus) {
                check_store_obj.msg = check_store.attr("data-msg-empty");
                if(!fun.error_msg_create_input(check_store_obj,public_style_error)) {
                    return;
                }
            }else{
                check_store_obj.is_focus = false;
            }
            if(check_store.val()=="") {
                return;
            }
            var re_check_store_val = check_store.attr("data-store-id");
            if(re_check_store_val) {
                return re_check_store_val;
            }else{
                check_store_obj.msg = "找不到您需要的门店名称";
                fun.error_msg_create_box(check_store_obj,public_style_error);
            }
        }
//        选择文件检测方法
        $("#check-store").on("blur", function () {
            validate_check_store($(this));
        });
        $(".ac-btn").on("click",function() {
            var form = new FormData();
//            默认编号
            var branch_no = $('#branch_no').val();
            form.append("branch_no", branch_no);
            //门店id
            var check_store = validate_check_store($("#check-store"), true);
            if(typeof check_store=="string"){
                form.append("shop_id", check_store);
            }else{
                return;
            }

            var file = document.getElementById("c-file").files[0];
            if(!file) {
                var city_element = $("#div_box");
                var city_element_obj = {
                    msg:"未选择文件",
                    element:city_element
                };
                fun.error_msg_create_box(city_element_obj,{
                    marginTop:'3px',
                    overflow: 'inherit'
                });
                return;
            }
            form.append("file", file);
            var xhr = null; //得到xhr对象
            if (XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xhr.open("post", "", true);//设置提交方式，url，异步提交
            xhr.onload = function () {
                var data = xhr.responseText; //得到返回值
                data = JSON.parse(data);
                if (data.code == 1) {
                    layer.closeAll(layer_id);
                    layer.msg(data.msg, {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        parent.layer.closeAll();
                    });
                } else {
                    layer.msg(data.msg);
                }
            };
            var layer_id=layer.msg('上传中', {
                icon : 16,
                shade : 0.5,
                time : 0
            });
            xhr.send(form);
        })

    })();
</script>