<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" style="height: 100vh;background-color: #fff;overflow: hidden;">

    <input id="c-id" data-rule="required" class="form-control" name="" type="hidden" value="{$row.id ?? ''}">
    <div class="form-group" style="padding:0 20px;padding-top: 20px; margin-left: 0">
        <label for="c-name" class="control-label lf" style="width:80px ;display: block;line-height:31px;">分类名称:</label>
        <div style="padding-left: 80px;height: 56px; ">
            <input id="c-name"  data-msg-empty="分类名称输入有误" maxlength="100" class="form-control ac-input" type="text" value="{$row.name ?? ''}" style=" width: 215px; height: 36px; border-radius: 4px; border: solid 1px #dddddd;">
        </div>
    </div>
    <div class="form-group" style="text-align: center;" >
            <!-- <button type="button" class="btn btn-success btn-ok btn-embossed mr-15">{:__('OK')}</button> -->
            <button type="button" class="btn btn-success btn-ok btn-embossed mr-15 " style="width: 100px;line-height: 36px; padding: 0; background-color: #34c191" >保存</button>
            <!-- <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button> -->
    </div>
</form>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/error_msg.js?v={$site.version}"></script>
<script>
    //调用防错处理,start
    //公共的弹出框样式
    var public_style_error = {
        display: 'inline-block',
        "margin-top":"3px",
        overflow: 'inherit'
    };
    // 输入框的必填项调用
    fun.error_msg_clear({}, public_style_error);
    //非必填输入框和div,select的防错处理
    fun.error_clear_box();
    //调用防错处理结束

//    分类名称验证方法
    function validate_name(id,is_focus) {
        var name =id;
        var name_obj = {
            element: name
        };
        if(is_focus) {
            name_obj.msg = name.attr("data-msg-empty");
            if(!fun.error_msg_create_input(name_obj,public_style_error)) {
                return;
            }
        }else{
            name_obj.is_focus = false;
        }
        name_obj.type = "reg";
        name_obj.is_reg = true;
        name_obj.msg = "您输入的分类名称中含有非法字符串";
        if(!fun.error_msg_create_input(name_obj,public_style_error)) {
            return;
        }
        return name.val();
    }
    $("#store_name").on("blur", function () {
        validate_name($(this));
    });

    $('.btn-ok').click(function () {
        var msg = {};
        msg.id = $('#c-id').val();

        //门店名称
        var name = validate_name($("#c-name"), true);
        if(typeof name=="string"){
            msg.name = name;
        }else{
            return;
        }

        $.post('', msg, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function () {
                    window.parent.location.reload();
                });
            } else {
                layer.msg(data.msg);
            }
        })
    })
</script>
