<!DOCTYPE html>
<html lang="en" style="font-size: 100px">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0">
    <title>千寻狗管理系统-账号激活</title>
    <link rel="stylesheet" type="text/css" href="/static/merchant/css/h5_activate.css">
	<!-- <script type="text/javascript" src="/assets/js/backend/jquery.js"></script> -->
	<script type="text/javascript" src="/static/index/js/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/merchant/js/h5_activate.js"></script>
</head>
<body>
	<div class="h5_activate_box">
		<div class="content">
			<div class="logo"></div>
			<div class="title">您的账号已成功激活</div>
			<div class="text">
					请用电脑打开"千寻狗后台服务"<br>
					进入登录界面进行登录
			</div>
		</div>
	</div>
</body>
</html>