<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>千寻狗管理系统-账号激活</title>
	<link rel="stylesheet" type="text/css" href="/static/merchant/css/pc_activate.css">
	<!-- <script type="text/javascript" src="/assets/js/backend/jquery.js"></script> -->
	<script type="text/javascript" src="/static/index/js/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/merchant/js/pc_activate.js"></script>
</head>
<body>
	<div class="pc_activate">
		<div class="activate_title">
			<span class="top_text">激活账户</span>
		</div>
		<div class="activate_content">
			<div class="head">
				<div class="logo">
				</div>
				<p>您的账号已成功激活</p>
			</div>
			<div class="content">
				请点击下面按钮直接进入<br/>
				"千寻狗后台服务"平台进行登录
			</div>
			<div class="foot">
				<a href="http://admin.fg.local/index/login">点击进入</a>
			</div>
		</div>
	</div>
</body>
</html>