
<link href="__CDN__/assets/css/page.css" rel="stylesheet" type="text/css">

<style>
	html,body{
		background:#fff;
	}
    .mk-eq_width_left {
        text-align: right !important;
        width: 130px;
    }
    .form-horizontal .form-label {
        text-align: right;
    }
    .os-right{
        padding-left: 110px;
        padding-right: 40px;
        height: 56px;
    }
    .os-w-all{
        width: 100% !important;
    }
    .text-c{
        text-align: center;
    }
    .user_img_box .formControls{
        background: #f8f8f8;
    }
    #panel-body label{
    	width:100px!important;
    }
    .title-input{
    	width:120px!important;
    	height:36px!important;
    }
</style>
<div class="panel-body" id='panel-body'>
    <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" >
        <input id="c-id" data-rule="required" class="form-control" name="" type="hidden" value="{$row.id ?? ''}">
        <div class="page-container">
            <div class="row cl os-pl-20" style="margin-top: 20px;">
                <label class="form-label l mr-15 mk-eq_width_left">用户头像：</label>
                <div class="l user_img_box ac-img-container ac-img-url-box" style="margin-left: 0;">
                    {if isset($row['avatar']) && $row['avatar'] != ''}
                    <div class="formControls l mr-15 ta-imgItem ac-item-box">
                        <i class="os-radius"></i>
                        <img class="os-img" src="{$Think.config.qiniu.domain}{$row['avatar']}" data-log="{$row['avatar']}">
                    </div>
                    <div class="formControls l ta-imgItem ac-add hidden" style="width: 100px;height: 100px;">
                        <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="img" data-picture="0">
                    </div>
                    {else}
                    <div class="os-row">
                        <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px;">
                            <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="img" data-picture="0">
                        </div>
                    </div>
                    {/if}
                </div>
            </div>
            <div class="row cl os-pl-20 os-mt-10">
                <label class="form-label l mk-eq_width_left">用户名称：</label>
                <div class="formControls os-right">
                    <input type="text" class="form-control op os-w-all os-pl-10 ac-input" maxlength="10" data-msg-empty="用户名称不能为空" placeholder="请输入用户名称" id="nickname" value="<?php if (isset($row['nickname'])) echo $row['nickname'];?>">
                </div>
            </div>
            <div class="row cl os-pl-20">
                <label class="form-label l mr-10 mk-eq_width_left">出生日期：</label>
                <div class="formControls os-right">
                    <input class="form-control op os-w-all os-pl-10 ac-error-box" id="birthday" readonly type="text" style="background: #ffffff;cursor: pointer;" value="<?php if (isset($row['birthday'])) echo strtr($row['birthday'], ['年' => '-', '月' => '-', '日' => '']);?>">
                </div>
            </div>
            <div class="row cl os-pl-20">
                <label class="form-label l mk-eq_width_left"><span class="c-red must-write"></span>性别：</label>
                <div class="formControls os-right ac-sex-box" style="height: 30px;">
                    <label class="radio-inline">
                        <input <?php if (empty($row['sex']) || $row['sex'] == 1) echo 'checked';?> type="radio" value="1" name="sex" style="margin-left: 0;"><span style="margin-left: 20px;">男</span>
                    </label>
                    <label class="radio-inline">
                        <input <?php if (!empty($row['sex']) && $row['sex'] == 2) echo 'checked';?> type="radio" value="2" name="sex" style="margin-left: 0;"><span style="margin-left: 20px;">女</span>
                    </label>
                    <label class="radio-inline">
                        <input <?php if (!empty($row['sex']) && $row['sex'] == 3) echo 'checked';?> type="radio" value="3" name="sex" style="margin-left: 0;"><span style="margin-left: 20px;">保密</span>
                    </label>
                </div>
            </div>
            <div class="row cl os-pl-20">
                <label class="form-label l mk-eq_width_left">手机号码：</label>
                <div class="formControls os-right">
                    <input type="text" class="form-control os-w-all op os-pl-10 ac-input" data-msg-empty="手机号码不能为空" placeholder="请输入手机号码" maxlength="11" id="mobile" value="<?php if (isset($row['mobile'])) echo $row['mobile'];?>">
                </div>
            </div>
                        
            <div class="text-c mt-20" style="margin-top:10px;">
                <span type="button" class="btn btn-success btn-ok btn-embossed disabled" style="width: 100px;line-height: 36px; padding: 0; background-color: #34c191">保 存</span>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/error_msg.js?v={$site.version}"></script>
<script type="text/javascript" src="__CDN__/assets/libs/laydate5/laydate.js"></script>
<script>
    (function () {
        up_img_System("img");
        $(".ac-img-container").on("click", ".os-radius", function () {
            var os = $(this).parent();
            var add = os.nextAll(".ac-add");
            os.remove();
            var isMain = $(".ac-item");
            if (os.children("sup").length != 0 && isMain.length > 0) {
                $(isMain[0]).prepend("<sup></sup>");
            }
            if (add.hasClass("hidden")) {
                add.removeClass("hidden");
            }
        });
        //时间插件
        laydate.render({
            elem: '#birthday'
            ,position: 'fixed'
            ,range: false
        });


        //调用防错处理,start
        //公共的弹出框样式
        var public_style_error = {
            overflow: 'inherit',
            marginTop:"3px"
        };
        // 输入框的必填项调用
        fun.error_msg_clear({}, public_style_error);
        //非必填输入框和div,select的防错处理
        fun.error_clear_box();
        //调用防错处理结束

        //用户名称：
        function validate_user_name(id,is_focus) {
            var contacts=id;
            var contacts_val = contacts.val();
            var contacts_obj = {
                element: contacts
            };
            if(is_focus) {
                contacts_obj.msg = contacts.attr("data-msg-empty");
                if(!fun.error_msg_create_input(contacts_obj,public_style_error)) {
                    return;
                }
            }else{
                contacts_obj.is_focus = false;
            }
            contacts_obj.msg = "您输入的用户名称过短";
            contacts_obj.type = "distance_limit_short";
            contacts_obj.str_length = 2;
            if(!fun.error_msg_create_input(contacts_obj,public_style_error)) {
                return;
            }
            contacts_obj.msg = "您输入的用户名称过长";
            contacts_obj.type = "distance_limit_long";
            contacts_obj.str_length = 40;
            if(!fun.error_msg_create_input(contacts_obj,public_style_error)) {
                return;
            }
            contacts_obj.type="reg";
            contacts_obj.is_reg = true;
            contacts_obj.reg = new RegExp("[`~!@#$^&=|':;',/?~！@#￥……&——|‘；：”“'。，、？\"]");
            contacts_obj.msg = "您的输入的用户中有非法字符串";
            if(!fun.error_msg_create_input(contacts_obj,public_style_error)) {
                return;
            }
            return contacts_val;
        }

        //手机号码：
        function validate_phone(id,is_focus) {
            var contacts=id;
            var contacts_val = contacts.val();
            var contacts_obj = {
                element: contacts
            };
            if(is_focus) {
                contacts_obj.msg = contacts.attr("data-msg-empty");
                if(!fun.error_msg_create_input(contacts_obj,public_style_error)) {
                    return;
                }
            }else{
                contacts_obj.is_focus = false;
            }
            contacts_obj.type="reg";
            contacts_obj.contain=false;
            contacts_obj.reg=/(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9}$)/;
            contacts_obj.is_reg = true;
            contacts_obj.msg = "您的输入的电话号码格式不正确";
            if(!fun.error_msg_create_input(contacts_obj,public_style_error)) {
                return;
            }
            return contacts_val;
        }

        //
        $("#nickname").on("blur", function () {
            validate_user_name($(this));
        });
        $("#mobile").on("blur",function() {
            validate_phone($(this));
        })

        $('.btn-ok').on("click",function () {
            var msg = {};

            //用户头像：
            var img_box = $(".ac-img-url-box");
            var img_item_box, img_item, img_name;
            for (var i = 0; i < img_box.length; i++) {
                img_item_box = $(img_box[i]);
                img_name = img_item_box.attr("data-name");
                img_item = img_item_box.find(".ac-item-box img");
                if (img_item.length > 0) {
                    msg.avatar = img_item.attr("data-log");
                }
            }
            //用户名称：
            var nickname_elem = $("#nickname");
            var nickname = validate_user_name(nickname_elem, true);
            if(typeof nickname=="string"){
                msg.nickname = nickname;
            }else{
                return;
            }

            //性别：
            msg.sex = $(".ac-sex-box").find("input:checked").val();

            //出生日期：
            msg.birthday = $("#birthday").val();

            //手机号码：
            var mobile_elem = $("#mobile");
            var mobile = validate_phone(mobile_elem, true);
            if(typeof mobile=="string"){
                msg.mobile = mobile;
            }else{
                return;
            }

            $.post('', msg, function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg, {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        window.parent.location.reload();
                    });
                } else {
                    layer.alert(data.msg, {icon: 5});
                }
            })
        })
    })();
</script>
