<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" style="background: #ffffff;margin: -15px;">
    <div style="padding: 25px 45px 25px 45px;">
        <input id="branch_no" type="hidden" value="{$branch_no ?? ''}"/>
        <div class="form-group" style="padding-top: ;">
            <label for="check-store" class="control-label lf" style="width: 75px;line-height:31px;">选择门店:</label>
            <div class="lf input-group" style="width: 265px;position: relative;">
                <input id="check-store" class="form-control" type="text" placeholder="选择门店名称" autocomplete="off" style="padding: 0 15px;" data-link-class="ac-dropdown"/>
                <div class="ac-dropdown os-dropdown"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="c-image" class="control-label lf" style="width: 75px;line-height:31px;">选择文件:</label>
            <div class="input-group lf" style="width: 265px;vertical-align: middle">
                <input type="text" class="hidden"/>
                <div  class="form-control" id="c-image"></div>
                <input id="c-file" class="hidden"  type="file" accept=".zip" value="{$row.image_url ?? ''}">
                <div class="input-group-addon no-border no-padding">
                <span>
                    <button  style="margin-top: -5px;" type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image">
                        <i class="fa fa-upload"></i> 上传
                    </button>
                </span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
        <div class="form-group">
            <div style="text-align: center;">
                <button type="button" class="btn btn-success btn-ok btn-embossed ac-btn">确 定</button>
            </div>
        </div>
    </div>
</form>
<script src="__CDN__/assets/js/backend/associative_input.js?v={$site.version}"></script>
<script>
    (function () {
        fun.associative_input($("#check-store"));
        var file = $('#c-file');
        $("#plupload-image").on("click", function () {
            file.click();
        });
        file.on('change', function( e ){
            var file_name = e.currentTarget.files[0].name;
            $("#c-image").html(file_name);
        });
        $(".ac-btn").on("click",function() {
            var check_store = $("#check-store").attr("data-store-id");
            if(!check_store) {
                layer.alert("请选择门店", {icon: 5});
                return;
            }
            var branch_no = $('#branch_no').val();
            var file = document.getElementById("c-file").files[0];
            console.log(file);
            if(!file) {
                layer.alert("请选择需要上传的文件", {icon: 5});
                return;
            }

            var form = new FormData();
            form.append("branch_no", branch_no);
            form.append("shop_id", check_store);
            form.append("file", file);
            var xhr = null; //得到xhr对象
            if (XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xhr.open("post", "", true);//设置提交方式，url，异步提交
            xhr.onload = function () {
                var data = xhr.responseText; //得到返回值
                data = JSON.parse(data);
                if (data.code == 1) {
                    layer.closeAll(layer_id);
                    layer.msg(data.msg, {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        parent.layer.closeAll();
                    });
                } else {
                    layer.alert(data.msg, {icon: 1});
                }
            };
            var layer_id=layer.msg('上传中', {
                icon : 16,
                shade : 0.5,
                time : 0
            });
            xhr.send(form);
        })

    })();
</script>