<!-- sidebar: style can be found in sidebar.less -->
<script src="__CDN__/assets/js/backend/jquery.js?v={$site.version}"></script>
<!-- <script type="text/javascript" src="/assets/js/backend/jquery.js"></script> -->
<!-- <script type="text/javascript" src="__CDN__/assets/js/backend/layer/2.4/layer.js"></script> -->
<script type="text/javascript" src="__CDN__/assets/js/backend/app.js"></script>

<section class="sidebar">
    <div class="user-panel hidden-xs">
        <div class="pull-left image">
            <a href="general/profile" class="addtabsit"><img src="__CDN__{$admin.avatar}" class="img-circle" /></a>
        </div>
        <div id="region_window" class="pull-left info">
            <p>{$admin.nickname}</p>
            <i class="fa fa-circle text-success"></i> {$role.name ?? ''}
        </div>
    </div>
    <ul class="sidebar-menu">
        {$menulist|raw}
    </ul>
</section>

<style type="text/css">
    #region_window{
        cursor: pointer;
    }
</style>