<style>
    .table-striped > tbody > .tr-one{
        background-color: #f5f5f5 !important;
    }
    .table-striped > tbody > .tr-two{
        background-color: #ffffff !important;
    }
    .table-striped > tbody > .tr-three{
        background-color: #fdfdfd !important;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading row" style="padding-top:0;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
        <!-- <div class="panel-lead"><em>门店分类管理</em></div> -->
        <div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
            <div class="lf" >
                <i class="fa fa-home"></i>
            </div>
            <div class="panel-lead lf" style="margin: 0px;">系统配置&nbsp;&nbsp;&nbsp;> </div>
            <div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;商品分类管理</div>
        </div>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar clearfix" style="margin-top:10px;">                            
                            <div class=" pull-right" >
                                <div id="toolbar" class="toolbar" style="position: relative;">
                                    <a href="javascript:;" onclick="layer_open('添加商品分类', '/sysconf/good_type/add?pid=0',{w:'400px',h:'314px'})"class="btn btn-success btn-add bs-bars-com" style="margin: 0"
                                        title="添加商品分类">添加商品分类</a>
                                </div>
                            </div>
                             
                        </div>
                        <p style="float: right;font-size: 12px;padding: 8px; margin: 0">共计
                            <span style="color: #34c191;">{$total}</span>  个分类</p>
                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                            <div class="fixed-table-header" style="display: none;">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <div class=""></div>
                                <table id="table" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                                    <thead>
                                    <tr style="background-color: #e8f7f2">
                                        <th class="col-xs-3" style="text-align: center; vertical-align: middle; " data-field="name">
                                            <div class="th-inner ">分类名称</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th class="col-xs-3" style="text-align: center; vertical-align: middle; " data-field="icon">
                                            <div class="th-inner ">分类图标</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th class="col-xs-3" style="text-align: center; vertical-align: middle; " data-field="sort">
                                            <div class="th-inner ">排序</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th class="col-xs-3" style="text-align: center; vertical-align: middle; " data-field="operate">
                                            <div class="th-inner ">操作</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody data-listidx="0">
                                    {volist name='list[0]' id='vo' key='i'}
                                    <tr class="ac-tr-btn ac-tr-one <?php echo $i % 2 == 0 ? 'tr-one':'tr-two' ?>" data-link-class="ac-tr-{$i}" data-link-class-icon="ac-ctr-icon-{$i}">
                                        <td style="text-align: left; vertical-align: middle; ">
                                                <div style="display: inline-block;width: 100%;min-width: 200px;padding-left: 143px;position: relative;box-sizing: border-box">
                                                    <span style="position: absolute;left: 10px;top: -5px;"><i class="ac-ctr-icon-{$i} fa fa-angle-right" style="font-size: 22px;color: #999999;"></i></span>
                                                    <!--fa fa-angle-down-->
                                                    {$vo.name}
                                                </div>
                                        <td style="text-align: center; vertical-align: middle; ">
                                        <div>
                                            <div style="display: inline-block;width: 120px;margin-right: 60px;">
                                                <img style="max-height: 60px;max-width:100%;display: inline-block;" src="{$Think.config.qiniu.domain}/{$vo.icon}">
                                            </div>
                                        </div>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            <input type="text" class="input-text ac-number ac-stop-propagation ac-sort-one" data-id="{$vo.id}" id="{$vo.id}" value="{$vo.sort ?? 0}" data-val="{$vo.sort ?? 0}" style="width: 100px;height: 36px;text-align: center;border:1px solid #ddd" maxlength="4">
                                        </td>
                                        <th style="text-align: center; vertical-align: middle;width: 100px;">
                                            <div class="os-row" style="white-space: nowrap;">
                                                <a href="javascript:;" onclick="layer_open('添加分类', '/sysconf/good_type/add?pid={$vo.id}',{w:'400px',h:'314px'})" style="margin-right: 60px !important" class="albumCC ac-stop-propagation" title="添加"  style="display: inline-block"><i class="iconfont icon-tianjia1"></i></a>
                                                <a href="javascript:;" onclick="layer_open('编辑', '/sysconf/good_type/edit/ids/{$vo.id}',{w:'400px',h:'314px'})" style="margin-right: 60px !important" class="albumCC ac-stop-propagation"title="编辑"  style="display: inline-block"><i class="iconfont icon-edit"></i></a>
                                                <a href="javascript:;" onclick="del({$vo.id});" class="albumCC ac-stop-propagation" title="删除" style="display: inline-block"><i class="iconfont icon-shanchu"></i></a>
                                            </div>
                                        </th>
                                    </tr>
                                    <?php if(!empty($list[$vo['id']])){ ?>
                                    <?php $i2 = 1;foreach($list[$vo['id']] as $vo2){?>
                                    <tr class="ac-tr-{$i} hidden <?php  echo $i % 2 == 0 ? ($i2 + 1) % 2 == 0: $i2 % 2 == 0 ? 'tr-two':'tr-three' ?>" style="color: #666666;">
                                        <td style="text-align: left; vertical-align: middle; ">
                                            <div style="display: inline-block;width: 100%;min-width: 200px;text-align: center; ">{$vo2.name}</div>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            <div  >
                                                <div style="display: inline-block;width: 120px;text-align: center">
                                                    <img style="max-height: 60px;max-width: 100%;display: inline-block;" src="{$Think.config.qiniu.domain}/{$vo2.icon}">
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            <div  style="padding-left: 40px;">
                                                <input type="text" class="input-text ac-number ac-stop-propagation ac-sort-two" data-id="{$vo2.id}" id="{$vo2.id}" value="{$vo2.sort ?? 0}"  style="width: 100px;height: 36px;text-align: center;margin-left: 160px;border:1px solid #ddd;" maxlength="4">
                                            </div>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            <div style="padding-left: 20px;">
                                                <!-- <a class="btn btn-xs btn-success btn-editone ac-stop-propagation"  href="javascript:;" onclick="layer_open('编辑', '/sysconf/good_type/edit/ids/{$vo2.id}',{w:'400px',h:'314px'})" title="编辑"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-xs btn-danger btn-delone ac-stop-propagation" href="javascript:;" onclick="del({$vo2.id});" title="删除"><i class="fa fa-trash"></i></a> -->
                                                <a href="javascript:;" onclick="layer_open('编辑', '/sysconf/good_type/edit/ids/{$vo.id}',{w:'400px',h:'314px'})" style="margin: 0 60px !important"
                                                   class="albumCC ac-stop-propagation" title="编辑" style="display: inline-block">
                                                    <i class="iconfont icon-edit"></i>
                                                </a>
                                                <a href="javascript:;" onclick="del({$vo2.id});" class="albumCC ac-stop-propagation" title="删除" style="display: inline-block">
                                                    <i class="iconfont icon-shanchu"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <?php $i2++;}}?>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-footer" style="display: none;">
                                <table>
                                    <tbody>
                                    <tr></tr>
                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	
    (function () {
        sort_edit({
            url:'/sysconf/good_type/edit_sort',
            cur_class:"ac-sort-one",
            is_refresh:true
        });
        sort_edit({
            url:'/sysconf/good_type/edit_sort',
            cur_class:"ac-sort-two",
            is_refresh:true
        });

        $(".ac-stop-propagation").on("click",function(event){
            event.stopPropagation();
        });
        $("#myTabContent .ac-number").on("input", function () {
            fun.inputNumber($(this));
        });

        $(".ac-tr-btn").on("click",function() {
            var attr = $(this).attr("data-link-class");
            var attr_index = $(this).attr("data-link-class-icon");
            var tr_items = $("." + attr);
            var icon = $("."+attr_index);
            if(tr_items.length>0) {
                var first = $(tr_items[0]);
                if(first.hasClass("hidden")) {
                    tr_items.removeClass("hidden");
                    icon.removeClass("fa-angle-right");
                    icon.addClass("fa-angle-down");
                }else{
                    tr_items.addClass("hidden");
                    icon.removeClass("fa-angle-down");
                    icon.addClass("fa-angle-right");
                }
            }
        })       
    })();


    function del(ids) {

        if (ids == 0) {
            ids = get_select_all();
        }
        if (ids == '') {
            layer.msg('请选择要操作的分类');
            return false;
        }
        layer.confirm('确认删除分类吗？', {icon: 3, title:'提示'}, function(){
            $.post('/sysconf/good_type/delete', {ids: ids}, function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg, {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        window.parent.location.reload();
                    });
                } else {
                    layer.msg(data.msg);
                }
            }, 'json')
        });
    }
</script>