<link rel="stylesheet" type="text/css" href="__CDN__/assets/libs/laydate/need/laydate.css?v={$site.version}"/>
<script type="text/javascript" src="__CDN__/assets/libs/laydate/laydate.js"></script>
<!--图片拖拽-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
	.ac-item-box{
		margin:20px 0 0 20px!important;
	}
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-body" style="padding: 0">
        <div id="albumCC" class="form-inline">
            <div id="imgList" style="height: 280px;overflow:auto">
                <div class="os-row">
                    {volist name='$list' id='value' }
                    {if $i eq 1}
                    <div class="formControls l mr-15 ta-imgItem ac-item-box" style="margin:20px 0 0 20px ">
                        <sup></sup>
                        <i class="os-radius"></i>
                        <img class="os-img" src="{$Think.config.qiniu.domain}{$value['image_url']}" data-log="{$value['image_url']}">
                    </div>
                    {else}
                    <div class="formControls l mr-15 ta-imgItem ac-item-box" style="margin:20px 0 0 20px">
                        <i class="os-radius"></i>
                        <img class="os-img" src="{$Think.config.qiniu.domain}{$value['image_url']}" data-log="{$value['image_url']}">
                    </div>
                    {/if}
                    {/volist}
                    <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px; margin: 20px 0 20px 20px">
                        <img class="os-pointer" src="__CDN__/assets/img/defaultAdd.png" id="imgCC" data-picture="999">
                    </div>
                </div>
            </div>
        </div>
        <div class="os-row" style="padding-top:15px;border-top: 1px solid #ccc;">
            <div class="form-group" style="text-align: center;">
                <button id="postBtn" type="button" class="btn btn-success btn-ok btn-embossed table-input" style="padding: 6px 36px; background-color: #34c191;">保 存</button>
            </div>
        </div>
    </div>
</div>

<script>
    //开始调用 上传方法以及添加删除事件
    //    注意 id值
    //第一个  up_img_System();  里面放需要添加图片按钮的id
    //第二个  $里面的值为组件外面的值
    // $("#edit-form") $("#edit-form .ac-item-box")
    var shop_id = '<?php echo $shop_id;?>';
    up_img_System("imgCC");

    $("#albumCC").on("click", ".ac-item-box i", function () {
        var os = $(this).parent();
        var add = os.nextAll(".ac-add");
        os.remove();
        var isMain = $("#albumCC .ac-item-box");
        if (os.children("sup").length != 0 && isMain.length > 0) {
            $(isMain[0]).prepend("<sup></sup>");
        }
        if (add.hasClass("hidden")) {
            add.removeClass("hidden");
        }
    });

    $('#postBtn').click(function () {
        var formData = {};
        var albumArr = [];

        formData.shop_id = shop_id;
        $('#albumCC img').each(function (i) {
            var image_url = $(this).attr('data-log');
            if (image_url){
                albumArr.push({shop_id:shop_id, image_url: image_url});
            }
        });

        if (albumArr.length > 0){
            formData.data = albumArr;

            $.ajax({
                type: 'POST',
                url: '',
                data: formData,
                success: function (result) {
                    //提示层
                    if (result.code == 1) {
                        layer.msg(result.msg + " 1秒后返回上一级目录");
                        setTimeout(function () {
                            parent.location.reload();
                        }, 1000)
                    }else {
                        layer.msg(result.msg);
                    }
                },
                error: function(msg){
                    //提示层
                    layer.msg('服务器忙，请稍后··');
                },
                dataType: 'JSON'
            });

        }else {
            layer.msg('请上传图片后在保存！');
        }
    });
    
//  图片拖拽
    $( "#imgList .os-row" ).sortable({
    	scroll: true,
    	scrollSensitivity: 80,
		containment: 'parent',
		cancel: '.ac-add',
		items: '.ac-item-box',
		stop:function(event,ui){    			
			$('#imgList .ac-item-box sup').remove();
			var list=$('#imgList .ac-item-box');
			var sup=$('<sup></sup>');
			list.eq(0).append(sup);
		}
	});
</script>