<script src="__CDN__/assets/js/vue.min.js"></script>
<style>
    #panel-body label {
        width: 125px !important;
    }
    /*校验字体样式*/
    span.error{
        /*border: 1px solid red;*/
        color: red;
        height: 28px;
        font-size: 12px;
        margin-left: 10px;
        height: 36px;
        line-height: 36px;
    }
    .types_data_box span.error{
        margin-left: 0px;
    }
    .address_box span.error{
        margin-right: 10px;
    }
    .active{
        background-color: #34c191;
        color: #fff;
    }
    .hide{
        display: none;
    }
    .work_day_title_1, .work_hour_title_1{
        width: 90px;
        height: 32px;
        display: inline-block;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        /*border-radius: 4px;*/
        border: 1px solid #34c191;
    }
    .work_day_title_2, .work_hour_title_2{
        width: 90px;
        height: 32px;
        display: inline-block;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        /*border-radius: 4px;*/
        border: 1px solid #34c191;
    }
    .work_day_title_1{
        margin-right: -4px;
    }
    .work_day_title_2, .work_hour_title_2{
        width: 88px;
        height: 32px;
        display: inline-block;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        /*border: 1px solid green;*/
    }
    .work_day_title_2{
        margin-right: -4px;
    }
    .business_hours_box_1 select{
        width: 140px;
        height: 30px;
    }
    .business_hours_box_1 .work_hour_separator{
        display: inline-block;
        margin: 0 10px;
    }
    .business_hours_box_2 select{
        width: 140px;
        height: 30px;
    }
    .business_hours_box_2 .work_hour_separator{
        display: inline-block;
        margin: 0 10px;
    }
    .select_disabled{
        background-color: #ddd;
    }
    .bg_box{
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        background:rgba(0,0,0,0.2);
        display: none;
    }
    .bg_box .big_img img{
        width:80vw;
        max-height:95vh;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
    }    
    .address_box .address{
        width:310px;
        height:36px;
        border:1px solid #ddd;
        border-radius: 4px;
        padding-left:10px;
        margin-top:10px;
        outline: none;
    }
    .title{
        font-size:16px;
        font-weight: 900;
        line-height:40px;
    }
    .title2{
        margin-top:40px;
        margin-bottom:10px;
        line-height:45px;
        border-top:2px solid #ccc;
    }
    input,select,textarea{
        background:#fff!important;
        border-color:#fff!important;
    }
    .submit{
        display: block;
        width:100px;
        height:35px;
        text-align: center;
        line-height:35px;
        border-radius: 4px;
        background:#34C191!important;
        font-size:14px;
        color:#fff!important;
    }
    input{
    	width:250px!important;
    }
    .os-pointer{
    	width:100px!important;
    	height:100px;
    }
    .cid_label{
    	line-height:140px!important;
    }
    /*.ac-item-box{
    	width:200px!important;
    	height:130px!important;
    }*/
    /*.os-img{
        width:200px!important;
    	height:130px!important;
    }*/
    .os-pointer{
    	width:200px!important;
    	height:130px!important;
    }
    .pass_btn{
    	display: inline-block;
    	width:120px;
    	height:35px;
    	line-height:35px;
    	text-align: center;
    	font-size:14px;
    	background:#18BC9C;
    	border:none;
    	border-radius: 4px;
    	margin:20px 0;
    	color:#fff;
    	cursor: pointer;
    }
    .pass_btn:hover{
    	color:#fff;
    }
    .pass{
    	margin-right:40px;
    }
    .s_type{
    	height:32px;
        line-height:32px;
    	float:left;
    	margin-right:20px;
    	margin-left:5px;
    }
     .s_type input{
     	width:15px!important;
     	height:15px!important;
     	float:left;
     	margin-top:8px!important;
     }
     .s_type span{
     	float:left;
     	margin-left:7px;
     }
     .form-group p{
     	line-height:35px;
     	padding-left:5px;
     }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading row" style="padding-top:0;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
        <div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
            <div class="lf">
                <i class="fa fa-home" style="font-size: 14px;"></i>
            </div>
            <div class="panel-lead lf" style="margin: 0px;">门店管理&nbsp;&nbsp;&nbsp;> </div>
            <a href="/shops/pending_shop" class="panel-lead lf pl" style="margin: 0px; color: #999 !important;" >&nbsp;&nbsp;&nbsp;待审核列表&nbsp;&nbsp;&nbsp;> </a>
            <div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;审核详情</div>
        </div>
    </div>
    <div class="panel-body" id='panel-body'>
        <h2 class="title1 title">门店信息</h2>
        <form id="add_form_cc" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

            <div class="form-group">
                <label for="store_name" class="control-label col-xs-12 col-sm-2"><span style="color: #ff777c;">*</span> 门店名称：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <!-- <div style="max-width: 150px; width:100%; display: inline-block; margin-right: 10px;"> -->
                    <p style="line-height:35px;">{$shop_info.name ?? ''}</p>
                    <!-- </div> -->
                </div>
            </div>
            <div class="form-group">
                <label for="c-type" class="control-label col-xs-12 col-sm-2"><span style="color: #ff777c;">*</span> 门店地址：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <div class="form-inline os-row" style="width: 480px;display: inline-block;">
                        <div class="" style="line-height: 36px;">
                            <div style="display: inline-block;">
                                <p>{$region[$shop_info.region_id_1] ?? ''} {$region[$shop_info.region_id_2] ?? ''} {$region[$shop_info.region_id_3] ?? ''} {$region[$shop_info.region_id_4] ?? ''}</p>
                            </div>
                        </div>

                        <!--新增详细地址-->
                        <div class="address_box" style="line-height: 36px;">
                            <p>{$shop_info.address ?? ''} {$shop_info.doorplate ?? ''}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="brand" class="control-label col-xs-12 col-sm-2"> 品牌：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p style="line-height:35px;">{$shop_info.brand ?? ''}</p>
                </div>
            </div>
            <div class="form-group types_data_box">
                <label class="control-label col-xs-12 col-sm-2"><span style="color: #ff777c;">*</span> 分类：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <div class="form-inline">
                        <div id="ac_type_show" style="display: inline-block;">
                            {if $shop_info.type_ids}
                            {volist name='shop_info.type_ids' id='vo2'}
                            <span style="display: inline-block;margin-right: 5px;padding: 8px 15px;border-radius: 4px;border: 1px solid #34c191;color: #34c191;">{$type_list[$vo2] ?? ''}</span>
                            {/volist}
                            {/if}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="acreage" class="control-label col-xs-12 col-sm-2">营业面积(平米)：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p style="line-height:35px;">{$shop_info.acreage ?? ''}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="scale" class="control-label col-xs-12 col-sm-2">规模(人数)：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$shop_info.scale ?? ''}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">营业类型：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$business_type[$shop_info.business_type] ?? ''}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="contacts" class="control-label col-xs-12 col-sm-2"><span style="color: #ff777c;">*</span> 联系人：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$shop_info.contacts ?? ''}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="phone_number" class="control-label col-xs-12 col-sm-2"><span style="color: #ff777c;">*</span>联系手机：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$shop_info.phone_number ?? '暂无'}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="phone_number1" class="control-label col-xs-12 col-sm-2">联系电话：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <!-- <div  style="max-width:200px ;width:100%;display: inline-block;margin-right: 10px;"> -->
                    <p>{$shop_info.phone_number1 ?? '暂无'}</p>
                    <!-- </div> -->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">营业时间：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <div  style="max-width:200px ;width:100%;display: inline-block;margin-right: 10px;">
                    	<p style="line-height:35px;padding-left:10px;">
	                    	{if $shop_info.business_hours_new}
	                        {volist name='shop_info.business_hours_new' id='vo'}
	                        {$vo}<br>
	                        {/volist}
	                        {/if}
                    	</p>
                        <!--<input  class="form-control op"   maxlength="100" id="business_hours" type="text" disabled="disabled" value="{if $shop_info.business_hours_new}
                        {volist name='shop_info.business_hours_new' id='vo'}
                        {$vo}
                        {/volist}
                        {/if}">-->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="desc" class="l control-label col-xs-12 col-sm-2"> 门店介绍：</label>
                <div class="l col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p style="margin-top:6px;line-height:20px;width:300px;padding-left:5px;">{$shop_info.desc ?? ''}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2" style="line-height: 100px;"><span style="color: #ff777c;">*</span> 门店预览图：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <div id="preview_image" class="l ac-img-container ac-img-url-box_shop" data-name="preview_image" >
                        <div class="os-row">
                            <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px;">
                                <img class="os-pointer" src="{$Think.config.qiniu.domain ?? ''}{$shop_info.preview_image}" id="img_shop" data-picture="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <h2 class="title2 title">门店认证信息</h2>
            <div class="form-group">
                <label for="truename" class="control-label col-xs-12 col-sm-2">法人：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$business_info.true_name ?? ''}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="person_id_number" class="control-label col-xs-12 col-sm-2">法人身份证号：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$business_info.person_id_number ?? ''}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 cid_label" style="line-height: 100px;">法人身份证正面照：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <div id="person_img_p" class="l ac-img-container ac-img-url-box_person_img_p" data-name="person_img_p">
                        <div class="os-row">
                            <div class="formControls l ta-imgItem ac-add " style="width: 100px;height: 100px;">
                                <img class="os-pointer" src="{$Think.config.qiniu.domain ?? ''}{$business_info.person_img_p}" id="img_person_img_p" data-picture="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2  cid_label" style="line-height: 100px;">法人身份证反面照 ：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <div id="person_img_n" class="l ac-img-container ac-img-url-box_person_img_n" data-name="person_img_n">
                        <div class="os-row">
                            <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px;">
                                <img class="os-pointer" src="{$Think.config.qiniu.domain ?? ''}{$business_info.person_img_n}" id="img_person_img_n" data-picture="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group"> 
                <label class="control-label col-xs-12 col-sm-2  cid_label" style="line-height: 100px;">法人手持身份证照：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <div id="person_img_n" class="l ac-img-container ac-img-url-box_person_img_s" data-name="person_img_s">
                        <div class="os-row">
                            <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px;">
                                <img class="os-pointer" src="{$Think.config.qiniu.domain ?? ''}{$business_info.person_img_s}" data-picture="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="license_type" class="control-label col-xs-12 col-sm-2">营业执照类型：</label>
                <div class="col-xs-12 col-sm-8" style="margin-top:8px;">
                    <span>{if $business_info.license_type eq 1}企业法人{elseif $business_info.license_type eq 2}个体工商户{else}{/if}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="license_name" class="control-label col-xs-12 col-sm-2">营业执照名称：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                        <p>{$business_info.license_name ?? ''}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="license_number" class="control-label col-xs-12 col-sm-2">营业执照号：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$business_info.license_number ?? ''}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2  cid_label" style="line-height: 100px;">营业执照照片：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <div id="license_img" class="l ac-img-container ac-img-url-box_businessLicense" data-name="license_img">
                        <div class="os-row">
                            <div class="formControls l ta-imgItem ac-add" style="width: 100px;height: 100px;">
                                <img class="os-pointer" src="{$Think.config.qiniu.domain ?? ''}{$business_info.license_img}" id="img_businessLicense" data-picture="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="banksite" class="control-label col-xs-12 col-sm-2">开户行：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$business_info.banksite ?? ''}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="bankcard" class="control-label col-xs-12 col-sm-2">银行账户：</label>
                <div class="col-xs-12 col-sm-8" style="margin-left:-15px;">
                    <p>{$business_info.license_number ?? ''}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="submit" class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12" style="left: 110px;">
                    
                    <input type="hidden" id="bs_id" value="{$ids ?? 0}">
                            <a class="pass_btn pass check_claim_shop">审核通过</a>
                            <a href="javascript:void(0)" onclick="layer_open('不通过理由', '/shops/check_claim_shop?ids={$ids ?? 0}',{w:'450px',h:'350px'});" class="pass_btn nopass">审核不通过</a>                    
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg_box">
    <div class="big_img">
        <img src=""/>
    </div>
</div>

<!-- 表单校验插件 -->
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/jquery-validation-1.14.0/jquery.validate.js?v={$site.version}"></script>
<script type="text/javascript" charset="utf-8" src="__CDN__/assets/js/backend/jquery-validation-1.14.0/additional-methods.js"></script>
<!-- 营业时间插件 -->
<!-- <script type="text/javascript" src="__CDN__/assets/js/backend/business_hours/business_hours_1.js"></script>
<script type="text/javascript" src="__CDN__/assets/js/backend/business_hours/business_hours_2.js"></script> -->
<!-- index的js -->
<script type="text/javascript" src="__CDN__/assets/js/backend/validate/shops/edit_shop.js"></script>

<script>
    //	图片放大预览
    $(document).on('click','.os-pointer',function(){
        var img_url=$(this).attr('src');
        console.log(img_url)
        $('.bg_box img').attr('src',img_url);
        $('.bg_box').show();
        $('.bg_box').click(function(){
            $('.bg_box').hide();
        })
    })

        // 选择分类弹窗
        function changeTypes() {
            var url = '<?php echo url("shops/types") . "?shop_id=" . (empty($data["id"]) ? "": $data["id"]);?>';
            layer_open('选择分类', url, {w:'745px',h:'815px'});
        }

        // 图片删除方法
        $(document).on("click", ".os-radius", function () {
            var os = $(this).parent();
            var add = os.nextAll(".ac-add");
            os.remove();

            var isMain = $(".ac-item");

            if (os.children("sup").length != 0 && isMain.length > 0) {
                $(isMain[0]).prepend("<sup></sup>");
            }

            if (add.hasClass("hidden")) {
                add.removeClass("hidden");
            }
        });

        $('.check_claim_shop').on("click",function () {
            var formData = {},htmlInstance = $(this);
            formData.ids = $('#bs_id').val();
            formData.status = 1;
            var url = '/shops/check_claim_shop';
            //询问框
            layer.confirm('您确定要审核通过吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (result) {
                        //提示层
                        layer.msg(result.msg);
                        if (result.code == 1){
                            window.location.href = '/shops/pending_shop';
                        }
                    },
                    error: function(msg){
                        //提示层
                        layer.msg('服务器忙，请稍后··');
                    },
                    dataType: 'JSON'
                });
            });
        });

    // 获取门店预览图地址
    //  up_img_System("img_shop");
    //
    //  // 获取营业执照照片地址
    //  up_img_System("img_businessLicense");
    //
    //  // 获取法人身份证正面照
    //  up_img_System("img_person_img_p");
    //
    //  // 获取法人身份证反面照片地址
    //  up_img_System("img_person_img_n");
</script>