<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>待审核列表</title>
		<script type="text/javascript" src="__CDN__/assets/libs/laydate5/laydate.js"></script>
		<script src="__CDN__/assets/js/vue.min.js"></script>
	</head>
	<style>
		.form-control {
			margin-right: 10px;
			padding: 6px 15px!important;
		}
		
		.fixed-table-toolbar {
			position: relative;
			padding-right: 110px;
		}
		
		.num {
			width: 100px;
			position: absolute;
			top: 0px;
			right: 10px;
		}
		
		.num .num_list {
			width: 100px;
		}
		
		table {
			font-size: 12px;
		}
		
		.editCC,.deleteCC {
			padding: 0 10px;
			margin: 0 10px;
			display: inline-block;
			line-height: 30px;
		}
	</style>

	<body>

		<div class="panel panel-default panel-intro">
			<div class="panel-heading row" style="padding-top:0;color: #999;font-size: 12px; line-height: 50px; background-color: transparent">
				<div style="background-color: #e8edf0;width: 100%; height: 50px;padding-left: 15px">
					<div class="lf">
						<i class="fa fa-home" style="font-size: 14px;"></i>
					</div>
					<div class="panel-lead lf" style="margin: 0px;">门店管理&nbsp;&nbsp;&nbsp;> </div>
					<div class="panel-lead lf pl" style="margin: 0px;color: #34c191;">&nbsp;&nbsp;&nbsp;待审核列表</div>
				</div>
			</div>
			<div class="panel-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="one">
						<div class="widget-body no-padding">
							<div class="bootstrap-table">
								<div class="fixed-table-toolbar">
									<div class="bs-bars">
										<div id="toolbar" class="toolbar" style="position: relative;">
											<form id="search_form" class="form-inline" role="form" data-toggle="validator" method="get" action="">
												<div class="row" style="margin:0;">
													<div style="float: left;width: 150px;margin-right: 10px;">
														<input class="form-control title-input" style="width: 150px;" name="name" value="{$Think.get.name ?? ''}" type="text" placeholder="门店名称">
													</div>
													<div style="float: left;width: 150px;margin-right: 10px;">
														<select class="form-control title-input" style="width: 150px;" name="region_id_3" onchange='javascript:get_type("region_id_4", this.value, 0)'>
															<option value="">区</option>
															{volist name='region_list_3' id='vo'}
															<option value="{$key}" {if $Request.get.region_id_3 eq $key}selected{/if}>{$vo}</option>
															{/volist}
														</select>
													</div>
													<div style="float: left;width: 150px;margin-right: 10px;">
														<select class="form-control title-input" style="width: 150px;"  name="region_id_4" id="region_id_4">
															<option value="">商圈</option>															
														</select>
													</div>
													<div style="float: left;width: 150px;margin-right: 10px;">
														<select class="form-control title-input" style="width: 150px;" name="type_id">
															<option value="">分类</option>
															{volist name='type_list' id='vo'}
															<option value="{$key}" {if $key eq $Think.get.type_id}selected{/if}>{$vo}</option>
															{/volist}
														</select>
													</div>

													<div style="float: left;width: 330px;margin-right: 10px;width: 180px;" class="shop-t">
														<input class="input-text laydate-icon os-pl-10" style="width: 180px; height: 36px;padding-left: 8px;font-size: 12px;border:1px solid #d2d6de" type="text" id="fromTime" name="from_time" placeholder="搜索时间区间" onfocus="this.blur()" />
													</div>
													<div style="float: left;width: 100px;margin-right: 25px; height: 36px;" class="shop-s">
														<button type="submit" class="btn btn-success btn-ok btn-embossed br" style="width: 100%;height: 36px; border-radius: 4px;background-color: #34c191;">搜索</button>
													</div>
												</div>
											</form>

										</div>
									</div>
									<div class="num">
										<select class="pull-left form-control title-input num_list" name="" id="">
											<option value="0">查看条数</option>
											{volist name='page_list' id='vo'}
											<option value="{$vo}" {if $Think.session.cur_limit eq $vo}selected{/if}>{$vo}</option>
											{/volist}
										</select>
									</div>
								</div>
								<div style="float: right;font-size: 12px;padding: 10px; margin: 0">共计
									<span style="color: #34c191;">{$list->total()}</span> 条反馈
								</div>
								<div id="show_data" class="fixed-table-container" style="padding-bottom: 0px;">
									<div class="fixed-table-header" style="display: none;">
										<table></table>
									</div>
									<div class="fixed-table-body">
										<table id="table" class="table table-striped table-bordered table-hover" width="100%">
											<thead>
												<tr style="background-color:#e8f7f2">
													<th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px; ">
														<div class="th-inner ">编号</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">门店名称</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">门店分类</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">区</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">商圈</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">门店地址</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">来源</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">商户名称</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">手机号</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; ">
														<div class="th-inner ">申请时间</div>
														<div class="fht-cell"></div>
													</th>
													<th style="text-align: center; vertical-align: middle; " data-field="operate">
														<div class="th-inner ">操作</div>
													</th>
												</tr>
											</thead>
											<tbody>
												{volist name='list' id='vo'}
												<tr class="ac-tr" data-id="{$vo.id}">
													<th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 60px;">
														<div class="th-inner ">
			                                                <input name="btSelectAll" id="btSelectAll" type="checkbox">
			                                                <span style="margin-left: 5px;">
			                                                	{$vo.bs_id}
			                                                </span>
			                                            </div>
													</th>
													<th style="text-align: center; vertical-align: middle;">
														{$vo.shop_name}
													</th>
													<th class="ac-store-name-tr" style="text-align: center; vertical-align: middle;">
														{if $vo.type_ids}
														{volist name='vo.type_ids' id='vo2'}
														{$type_list[$vo2] ?? ''}
														{/volist}
														{/if}
													</th>
													<th style="text-align: center; vertical-align: middle;">
														{$vo.region_3.name ?? ''}
													</th>
													<th style="text-align: center; vertical-align: middle;">
														{$vo.region_4.name ?? ''}
													</th>
													<th style="text-align: center; vertical-align: middle;">
														{$vo.address ?? ''}
													</th>
													<th class="ac-store-name-tr" style="text-align: center; vertical-align: middle;">
														{$vo.id > 1 ? '认领' : '新增'}
													</th>
													<th style="text-align: center; vertical-align: middle;">
														{$vo.nickname}
													</th>
													<th style="text-align: center; vertical-align: middle;">
														{if $is_super}
														{$vo.mobile}
														{else}
														{$vo.mobile ? substr_replace($vo.mobile, '****', 3, 4) : ''}
														{/if}
													</th>
													<th class="ac-store-name-tr" style="text-align: center; vertical-align: middle;">
														{$vo.create_time}
													</th>
													
													<th style="text-align: center; vertical-align: middle;">														
														<a href="pending_shop_do?ids={$vo.bs_id}" title="审核" class="btn-color" style="color: #3C8DBC;"><img style="width: 25px;" src="/assets/img/audit.png"/></a>
													</th>
												</tr>
												{/volist}
											</tbody>
										</table>

									</div>
									<div class="fixed-table-footer" style="display: none;">
										<table>
											<tbody>
												<tr></tr>
											</tbody>
										</table>
									</div>
									<div class="fixed-table-pagination">{$list->render()|raw}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
    //   改变显示条数
    $('.num_list').change(function(){
    	var value=$(this).find('option:selected').val();
    	var name=$('input[name="name"]').val();    	                             	
    	var region_id_3=$('select[name="region_id_3"]').find('option:selected').val();
    	var region_id_4=$('select[name="region_id_4"]').find('option:selected').val();                                    	
    	var type_id=$('select[name="type_id"]').find('option:selected').val();   	
    	var from_time=$('input[name="from_time"]').val();
    	location.href = 'pending_shop?cur_limit=' + value+'&name='+name+'&region_id_3='+region_id_3+'&region_id_4='+region_id_4+
    	    '&type_id='+type_id+'&from_time='+from_time;
    })  
    
//  加载时间插件   
    laydate.render({
        elem: '#fromTime'
        ,range: true
        ,value: "{$Request.get.from_time ?? ''}"
    });

    $(function () {
        {notempty name='Request.get.region_id_3'}
        get_type("region_id_4", '{$Request.get.region_id_3}', 0, '{$Request.get.region_id_4}');
        {/notempty}
    })

</script>