<link rel="stylesheet" type="text/css" href="__CDN__/assets/libs/laydate/need/laydate.css?v={$site.version}"/>
<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar">
                            <div class="bs-bars pull-left">
                            </div>
                            <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="get" action="">
                                <input class="form-control" name="keyword" type="text" value="{$Request.get.keyword ?? ''}" placeholder="搜索">
                                <button type="submit" class="btn btn-success btn-ok btn-embossed">{:__('OK')}</button>
                            </form>
                        </div>
                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                            <div class="fixed-table-header" style="display: none;">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">

                                <table id="table" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle; " data-field="id">
                                            <div class="th-inner ">Id</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="name">
                                            <div class="th-inner ">区</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="nickname">
                                            <div class="th-inner ">商圈</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="status">
                                            <div class="th-inner ">店铺名称</div>
                                            <div class="fht-cell"></div>
                                        </th>

                                        <th style="text-align: center; vertical-align: middle; " data-field="operate">
                                            <div class="th-inner ">操作</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody data-listidx="0">
                                    {volist name='shop_list' id='vo'}
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.id}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.region_3.0.name ?? ''}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.region_4.0.name ?? ''}</td>
                                        <td style="text-align: center; vertical-align: middle; ">{$vo.name ?? ''}</td>
                                        <td style="text-align: center; vertical-align: middle; ">
                                            <a href="javascript:;" onclick="check_shop({$vo.id});" class="btn btn-success btn-add" title="选择" data-table-id="table" data-field-index="9" data-row-index="30" data-button-index="2"><i class="fa fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-footer" style="display: none;">
                                <table>
                                    <tbody>
                                    <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-pagination">{$shop_list->render()|raw}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function check_shop(id) {
        if (id == '') {
            layer.msg('请选择店铺');
            return false;
        }
        // 待写选择店铺后赋值
    }
</script>